//pagination style
@import '../../../../custom-palettes.scss';

.edu-pagination {
	ul {
		display: flex;
		align-items: center;
	}
	li {
		margin-right: 15px;
		&:hover {
			a {
				color: $theme-color;
				font-weight: 600;
			}
		}
	}
	i {
		height: 45px;
		width: 45px;
		background: $white;
		line-height: 43px;
		text-align: center;
		border-radius: 50%;
		color: $body-text;
		font-size: 20px;
		border: 1px solid $border;
		font-weight: 400;
		transition: 0.3s;
		&:hover {
			border-color: $theme-color;
			background: $theme-color;
			color: $white;
		}
	}
}
.edu-pagination ul li.active a {
	color: $theme-color;
	font-weight: 600;
}