<div class="sidebar-widget-wrapper">
    <div class="event-speaker-wrapper mb-30">
       <div class="event-speaker-info">
          <h4>Speaker</h4>
       </div>
       <div class="event-sidebar-thumb w-img">
          <a href="#"><img src="assets/img/event/speaker.png" alt="Speaker"></a>
       </div>
       <div class="event-speaker-content text-center">
          <span><a [routerLink]="['/instructor']">Crish Denial</a> </span>
          <p>Motivational Speaker</p>
       </div>
    </div>
    <div class="event-information-wrapper mb-30">
       <div class="event-price-info">
          <div class="event-ticket-cost">
             <span>Ticket Costs:</span>
          </div>
          <div class="event-price">
             <span>$24.00</span>
             <div class="old-price">
                <del>$48.00</del>
             </div>
          </div>
       </div>
       <div class="event-information-list">
          <ul>
             <li>
                <div class="information-list">
                   <i class="flaticon-calendar"></i>
                   <span>Date</span>
                </div>
                <div class="information-list">
                   <span>10 Jan 2022</span>
                </div>
             </li>
             <li>
                <div class="information-list">
                   <i class="flaticon-clock"></i>
                   <span>Schedule</span>
                </div>
                <div class="information-list">
                   <span>10 AM - 12 PM</span>
                </div>
             </li>
             <li>
                <div class="information-list">
                   <i class="flaticon-place"></i>
                   <span>Location</span>
                </div>
                <div class="information-list">
                   <span>New York, TX 82760, US</span>
                </div>
             </li>
             <li>
                <div class="information-list">
                   <i class="flaticon-menu-2"></i>
                   <span>Category</span>
                </div>
                <div class="information-list">
                   <span>Business</span>
                </div>
             </li>
             <li>
                <div class="information-list">
                   <i class="flaticon-global"></i>
                   <span>Laguage</span>
                </div>
                <div class="information-list">
                   <span>English</span>
                </div>
             </li>
             <li>
                <div class="information-list">
                   <i class="flaticon-bookmark-white"></i>
                   <span>Estimated Seat</span>
                </div>
                <div class="information-list">
                   <span>470 Seats</span>
                </div>
             </li>
          </ul>
       </div>
       <a [routerLink]="['/contact']" class="event-btn">Join this Event</a>
    </div>

    <div class="event-sponsor-wrapper mb-30">
       <div class="sopnsor-tittle">
          <h4>Sponsor by</h4>
       </div>
       <div class="sponsor-thumb">
          <a href="#"> <img src="assets/img/logo/sopnsor-logo-1.png" alt="sponsor-logo"></a>
          <a href="#"> <img src="assets/img/logo/sopnsor-logo-2.png" alt="sponsor-logo"></a>
       </div>
    </div>
 </div>