<!-- features-video-area-start -->
<div class="features-video-area">
    <div class="container">
       <div class="row justify-content-center">
          <div class="col-lg-10 col-md-9">
             <div class="">
                <div class="features-video-wrapper">
                   <div class="features-shape-wrapper-1">
                      <img class="features-shape" src="assets/img/shape/features-shape.png" alt="features-shape">
                      Get <span>help</span> from <br> this video
                   </div>
                   <div class="features-shape-werapper-2">
                      <span>65k+</span> <br>views daily
                      <img class="features-shape-2" src="assets/img/shape/features-shape-2.png"
                         alt="features-shape-2">
                   </div>
                   <div class="reatures-video-thumb">
                      <img src="assets/img/features/features.jpg" alt="features-img">
                   </div>
                   <div class="features-video-content">
                      <div class="features-btn">
                           <a class="popup-video" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fas fa-play"></i></a>
                      </div>
                      <div class="video-btn-text">
                         <span>Watch Video
                            <br>Intro</span>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- features-video-area-end -->

 <div class="course-video-popup">
   <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
       <div class="modal-dialog modal-dialog-centered">
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
           </div>
           <div class="modal-body">
               <iframe src="https://www.youtube.com/embed/wNwrSz3HYqE" title="YouTube video player"></iframe>
           </div>
         </div>
       </div>
     </div>
 </div>