<app-headerfour></app-headerfour>

<app-breadcrumb breadcrumbTitle="Instructor"  breadcrumbSubTitle="Instructor"></app-breadcrumb>

<!-- member-area-start -->
<section class="member-area pt-125 pb-90">
    <div class="container">
       <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-6">
             <div class="member-main-wrapper mb-30">
                <div class="member-body text-center">
                   <div class="member-item">
                      <div class="member-thumb">
                         <a [routerLink]="['/instructor-profile']"><img src="assets/img/member/member-img-01.png"
                               alt="member-img"></a>
                      </div>
                      <div class="member-content">
                         <h4><a [routerLink]="['/instructor-profile']">Charls David</a></h4>
                         <span>Data Scientist, Codexpand</span>
                      </div>
                      <div class="member-social">
                         <ul>
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="member-meta">
                   <div class="member-reating">
                      <i class="fas fa-star"></i>
                      <span>4.8 (54k+)</span>
                   </div>
                   <div class="member-course">
                      <i class="flaticon-computer"></i><a href="#"><span>12 Courses</span></a>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
             <div class="member-main-wrapper mb-30">
                <div class="member-body text-center">
                   <div class="member-item">
                      <div class="member-thumb">
                         <a [routerLink]="['/instructor-profile']"><img src="assets/img/member/member-img-02.png"
                               alt="member-img"></a>
                      </div>
                      <div class="member-content">
                         <h4><a [routerLink]="['/instructor-profile']">Nicholson Ocak</a></h4>
                         <span>UI/UX Researcher </span>
                      </div>
                      <div class="member-social">
                         <ul>
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="member-meta">
                   <div class="member-reating">
                      <i class="fas fa-star"></i>
                      <span>4.8 (54k+)</span>
                   </div>
                   <div class="member-course">
                      <i class="flaticon-computer"></i><a href="#"><span>12 Courses</span></a>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
             <div class="member-main-wrapper mb-30">
                <div class="member-body text-center">
                   <div class="member-item">
                      <div class="member-thumb">
                         <a [routerLink]="['/instructor-profile']"><img src="assets/img/member/member-img-03.png"
                               alt="member-img"></a>
                      </div>
                      <div class="member-content">
                         <h4><a [routerLink]="['/instructor-profile']">Miriam Abate</a></h4>
                         <span>Web Developer</span>
                      </div>
                      <div class="member-social">
                         <ul>
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="member-meta">
                   <div class="member-reating">
                      <i class="fas fa-star"></i>
                      <span>4.8 (54k+)</span>
                   </div>
                   <div class="member-course">
                      <i class="flaticon-computer"></i><a href="#"><span>12 Courses</span></a>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
             <div class="member-main-wrapper mb-30">
                <div class="member-body text-center">
                   <div class="member-item">
                      <div class="member-thumb">
                         <a [routerLink]="['/instructor-profile']"><img src="assets/img/member/member-img-04.png"
                               alt="member-img"></a>
                      </div>
                      <div class="member-content">
                         <h4><a [routerLink]="['/instructor-profile']">Vanbrunt Carl</a></h4>
                         <span>Entrepreneur</span>
                      </div>
                      <div class="member-social">
                         <ul>
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="member-meta">
                   <div class="member-reating">
                      <i class="fas fa-star"></i>
                      <span>4.8 (54k+)</span>
                   </div>
                   <div class="member-course">
                      <i class="flaticon-computer"></i><a href="#"><span>12 Courses</span></a>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
             <div class="member-main-wrapper mb-30">
                <div class="member-body text-center">
                   <div class="member-item">
                      <div class="member-thumb">
                         <a [routerLink]="['/instructor-profile']"><img src="assets/img/member/member-img-05.png"
                               alt="member-img"></a>
                      </div>
                      <div class="member-content">
                         <h4><a [routerLink]="['/instructor-profile']">Anthony Peter</a></h4>
                         <span>Software Engineer</span>
                      </div>
                      <div class="member-social">
                         <ul>
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="member-meta">
                   <div class="member-reating">
                      <i class="fas fa-star"></i>
                      <span>4.8 (54k+)</span>
                   </div>
                   <div class="member-course">
                      <i class="flaticon-computer"></i><a href="#"><span>12 Courses</span></a>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
             <div class="member-main-wrapper mb-30">
                <div class="member-body text-center">
                   <div class="member-item">
                      <div class="member-thumb">
                         <a [routerLink]="['/instructor-profile']"><img src="assets/img/member/member-img-06.png"
                               alt="member-img"></a>
                      </div>
                      <div class="member-content">
                         <h4><a [routerLink]="['/instructor-profile']">John Everton</a></h4>
                         <span>Data Scientist</span>
                      </div>
                      <div class="member-social">
                         <ul>
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="member-meta">
                   <div class="member-reating">
                      <i class="fas fa-star"></i>
                      <span>4.8 (54k+)</span>
                   </div>
                   <div class="member-course">
                      <i class="flaticon-computer"></i><a href="#"><span>12 Courses</span></a>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
             <div class="member-main-wrapper mb-30">
                <div class="member-body text-center">
                   <div class="member-item">
                      <div class="member-thumb">
                         <a [routerLink]="['/instructor-profile']"><img src="assets/img/member/member-img-07.png"
                               alt="member-img"></a>
                      </div>
                      <div class="member-content">
                         <h4><a [routerLink]="['/instructor-profile']">Joseph Daniyel</a></h4>
                         <span>Sr. Developer, BDevs</span>
                      </div>
                      <div class="member-social">
                         <ul>
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="member-meta">
                   <div class="member-reating">
                      <i class="fas fa-star"></i>
                      <span>4.8 (54k+)</span>
                   </div>
                   <div class="member-course">
                      <i class="flaticon-computer"></i><a href="#"><span>12 Courses</span></a>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
             <div class="member-main-wrapper mb-30">
                <div class="member-body text-center">
                   <div class="member-item">
                      <div class="member-thumb">
                         <a [routerLink]="['/instructor-profile']"><img src="assets/img/member/member-img-08.png"
                               alt="member-img"></a>
                      </div>
                      <div class="member-content">
                         <h4><a [routerLink]="['/instructor-profile']">Cristina Ena</a></h4>
                         <span>Drawing Expert</span>
                      </div>
                      <div class="member-social">
                         <ul>
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="member-meta">
                   <div class="member-reating">
                      <i class="fas fa-star"></i>
                      <span>4.8 (54k+)</span>
                   </div>
                   <div class="member-course">
                      <i class="flaticon-computer"></i><a href="#"><span>12 Courses</span></a>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
             <div class="member-main-wrapper mb-30">
                <div class="member-body text-center">
                   <div class="member-item">
                      <div class="member-thumb">
                         <a [routerLink]="['/instructor-profile']"><img src="assets/img/member/member-img-09.png"
                               alt="member-img"></a>
                      </div>
                      <div class="member-content">
                         <h4><a [routerLink]="['/instructor-profile']">Jeanette Harrat</a></h4>
                         <span>Gym Instructor</span>
                      </div>
                      <div class="member-social">
                         <ul>
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="member-meta">
                   <div class="member-reating">
                      <i class="fas fa-star"></i>
                      <span>4.8 (54k+)</span>
                   </div>
                   <div class="member-course">
                      <i class="flaticon-computer"></i><a href="#"><span>12 Courses</span></a>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
             <div class="member-main-wrapper mb-30">
                <div class="member-body text-center">
                   <div class="member-item">
                      <div class="member-thumb">
                         <a [routerLink]="['/instructor-profile']"><img src="assets/img/member/member-img-10.png"
                               alt="member-img"></a>
                      </div>
                      <div class="member-content">
                         <h4><a [routerLink]="['/instructor-profile']">Satterfield</a></h4>
                         <span>Software Engineer</span>
                      </div>
                      <div class="member-social">
                         <ul>
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="member-meta">
                   <div class="member-reating">
                      <i class="fas fa-star"></i>
                      <span>4.8 (54k+)</span>
                   </div>
                   <div class="member-course">
                      <i class="flaticon-computer"></i><a href="#"><span>12 Courses</span></a>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
             <div class="member-main-wrapper mb-30">
                <div class="member-body text-center">
                   <div class="member-item">
                      <div class="member-thumb">
                         <a [routerLink]="['/instructor-profile']"><img src="assets/img/member/member-img-11.png"
                               alt="member-img"></a>
                      </div>
                      <div class="member-content">
                         <h4><a [routerLink]="['/instructor-profile']">Suny Czarnecki</a></h4>
                         <span>Digital Marketer, Conda</span>
                      </div>
                      <div class="member-social">
                         <ul>
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="member-meta">
                   <div class="member-reating">
                      <i class="fas fa-star"></i>
                      <span>4.8 (54k+)</span>
                   </div>
                   <div class="member-course">
                      <i class="flaticon-computer"></i><a href="#"><span>12 Courses</span></a>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
             <div class="member-main-wrapper mb-30">
                <div class="member-body text-center">
                   <div class="member-item">
                      <div class="member-thumb">
                         <a [routerLink]="['/instructor-profile']"><img src="assets/img/member/member-img-12.png"
                               alt="member-img"></a>
                      </div>
                      <div class="member-content">
                         <h4><a [routerLink]="['/instructor-profile']">Vickie Garza</a></h4>
                         <span>Musician & Vocalist</span>
                      </div>
                      <div class="member-social">
                         <ul>
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="member-meta">
                   <div class="member-reating">
                      <i class="fas fa-star"></i>
                      <span>4.8 (54k+)</span>
                   </div>
                   <div class="member-course">
                      <i class="flaticon-computer"></i><a href="#"><span>12 Courses</span></a>>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- member-area-end -->

 <app-footerone></app-footerone>
