<!-- brand-area-start -->
<div class="brand-area theme-bg pt-90 pb-120">
    <div class="container">
       <div class="row">
          <div class="col-xl-12">
             <div class="brand-wrapper text-center">
                <div class="brand-wrapper text-center">
                   <div class="swiper-container brand-active">
                      <!-- Additional required wrapper -->
                      <div class="swiper-wrapper">
                        <swiper class="mySwiper"
                        [slidesPerView]="1"
                        [spaceBetween]="30"
                        [loop]="true"
                        [autoplay]="{
                            delay: 2500,
                            disableOnInteraction: false
                        }"
                        [breakpoints]="{
                            '320': {
                              slidesPerView: 1,
                              spaceBetween: 20
                            },
                            '480': {
                                slidesPerView: 2,
                                spaceBetween: 30
                              },
                            '640': {
                              slidesPerView: 3,
                              spaceBetween: 40
                            },
                            '991': {
                              slidesPerView: 4,
                              spaceBetween: 40
                            },
                            '1200': {
                              slidesPerView: 5,
                              spaceBetween: 40
                            },
                            '1400': {
                              slidesPerView: 6,
                              spaceBetween: 40
                            }
                          }"
                        >

                        <ng-template swiperSlide>
                            <div class="singel-brand">
                               <img src="assets/img/brand/brand-01.png" alt="image not found">
                            </div>
                        </ng-template>
                         <ng-template swiperSlide>
                            <div class="singel-brand">
                               <img src="assets/img/brand/brand-02.png" alt="image not found">
                            </div>
                        </ng-template>
                         <ng-template swiperSlide>
                            <div class="singel-brand">
                               <img src="assets/img/brand/brand-03.png" alt="image not found">
                            </div>
                        </ng-template>
                         <ng-template swiperSlide>
                            <div class="singel-brand">
                               <img src="assets/img/brand/brand-04.png" alt="image not found">
                            </div>
                        </ng-template>
                         <ng-template swiperSlide>
                            <div class="singel-brand">
                               <img src="assets/img/brand/brand-05.png" alt="image not found">
                            </div>
                        </ng-template>
                         <ng-template swiperSlide>
                            <div class="singel-brand">
                               <img src="assets/img/brand/brand-06.png" alt="image not found">
                            </div>
                        </ng-template>
                        </swiper>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- brand-area-end -->