<div>
    <div class="section-title mb-45">
        <h2>Current <span class="down-mark-line-2">Events</span></h2>
    </div>
    <div class="current-event-box mb-15">
        <div class="current-event-date d-flex position-relative">
            <div class="event-date-wrapper">
                <span class="event-date">29</span>
                <span class="event-month">Jan 21</span>
            </div>
            <div class="event-tour">
                <div class="event-box-text">
                    <h3><a [routerLink]="['/event-details']">Education Autumn Tour</a></h3>
                    <span><i class="fal fa-clock"></i>12:30 AM</span>
                    <span><i class="flaticon-place"></i>Zeoyan Stadium, London</span>
                </div>
                <a [routerLink]="['/event-details']" class="event-arrow">
                    <i class="fal fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="current-event-box mb-15">
        <div class="current-event-date d-flex position-relative">
            <div class="event-date-wrapper">
                <span class="event-date">20</span>
                <span class="event-month">Mar 21</span>
            </div>
            <div class="event-tour">
                <div class="event-box-text">
                    <h3><a [routerLink]="['/event-details']">Education Summer Tour</a></h3>
                    <span><i class="fal fa-clock"></i>10:30 AM</span>
                    <span><i class="flaticon-place"></i>Zeoyan Stadium, London</span>
                </div>
                <a [routerLink]="['/event-details']" class="event-arrow">
                    <i class="fal fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="current-event-box mb-30">
        <div class="current-event-date d-flex position-relative">
            <div class="event-date-wrapper">
                <span class="event-date">25</span>
                <span class="event-month">April 21</span>
            </div>
            <div class="event-tour">
                <div class="event-box-text">
                    <h3><a [routerLink]="['/event-details']">Education Spring Tour</a></h3>
                    <span><i class="fal fa-clock"></i>09:30 AM</span>
                    <span><i class="flaticon-place"></i>Zeoyan Stadium, London</span>
                </div>
                <a [routerLink]="['/event-details']" class="event-arrow">
                    <i class="fal fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>