<!-- testimonial-area-start -->
<div class="testimonial-area pb-120">
    <div class="container">
       <div class="row">
          <div class="col-lg-6 offset-lg-3">
             <div class="section-title text-center mb-55">
                <h2>What Students<br>
                   Think and Say About <span class="down-mark-line">Eduman</span></h2>
             </div>
          </div>
       </div>
       <!-- Slider main container -->
       <div class="testimonial-active">
          <div class="swiper-wrapper">
            <swiper class="mySwiper"
            [slidesPerView]="1"
            [spaceBetween]="30"
            [loop]="true"
            [autoplay]="{
                delay: 2500,
                disableOnInteraction: false
            }"
            [pagination]="{
              clickable: true,
              el: '.testimonial-pagination'
            }"
            
            [breakpoints]="{
                '320': {
                  slidesPerView: 1,
                  spaceBetween: 20
                },
                '480': {
                    slidesPerView: 1,
                    spaceBetween: 30
                  },
                '640': {
                  slidesPerView: 1,
                  spaceBetween: 30
                },
                '991': {
                  slidesPerView: 2,
                  spaceBetween: 30
                },
                '1200': {
                  slidesPerView: 3,
                  spaceBetween: 30
                },
                '1400': {
                  slidesPerView: 3,
                  spaceBetween: 30
                }
              }"
            >

            <ng-template swiperSlide>
                <div class="testimonial-items position-relative">
                   <div class="testimonial-header">
                      <div class="testimonial-img">
                         <img src="assets/img/testimonial/Image.png" alt="image not found">
                      </div>
                      <div class="testimonial-title">
                         <h4>David Johnson</h4>
                         <span>Student</span>
                      </div>
                   </div>
                   <div class="testimoni-quotes">
                      <img src="assets/img/testimonial/quotes.png" alt="image not found">

                   </div>
                   <div class="testimonial-body">
                      <h3>Great Course !</h3>
                      <p>Thanks to our marketplace model, our content keeps pace with market changes. You’ll find
                         courses on the latest technologies and business practice and more!</p>
                   </div>
                   <div class="testimonial-icon">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                   </div>
                </div>
            </ng-template>
             <ng-template swiperSlide>
                <div class="testimonial-items position-relative">
                   <div class="testimonial-header">
                      <div class="testimonial-img">
                         <img src="assets/img/testimonial/testimonial-02.png" alt="image not found">
                      </div>
                      <div class="testimonial-title">
                         <h4>Brandon Tylor</h4>
                         <span>Student</span>
                      </div>
                   </div>
                   <div class="testimoni-quotes">
                      <img src="assets/img/testimonial/quotes.png" alt="image not found">
                   </div>
                   <div class="testimonial-body">
                      <h3>Best Experience !</h3>
                      <p>In every software-as-a-service solution, user billing and payments are key aspects in the
                         sale of services rendered. Let’s learn about Stripe the metal mates.</p>
                   </div>
                   <div class="testimonial-icon">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                   </div>
                </div>
            </ng-template>
             <ng-template swiperSlide>
                <div class="testimonial-items position-relative">
                   <div class="testimonial-header">
                      <div class="testimonial-img">
                         <img src="assets/img/testimonial/testimonial.png" alt="image not found">
                      </div>
                      <div class="testimonial-title">
                         <h4>Richard Joseph</h4>
                         <span>Student</span>
                      </div>
                   </div>
                   <div class="testimoni-quotes">
                      <img src="assets/img/testimonial/quotes.png" alt="image not found">
                   </div>
                   <div class="testimonial-body">
                      <h3>Helpful Instructors !</h3>
                      <p>There are so many websites out there that have not considered the overall usability of
                         their visually impaired users. When it comes to designing better links.</p>
                   </div>
                   <div class="testimonial-icon">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                   </div>
                </div>
            </ng-template>

            </swiper>
          </div>
          <div class="testimonial-pagination text-center"></div>
       </div>
    </div>
 </div>
 <!-- testimonial-area-end -->
