<!-- hero-area start-->
<div class="hero-area hero-height d-flex align-items-center position-relative fix">
    <img class="hero-shape-5" src="assets/img/shape/shape-02.png" alt="shape">
    <img class="hero-shape-1" src="assets/img/shape/shape-03.png" alt="shape">
    <img class="hero-shape-6" src="assets/img/shape/shape-01.png" alt="shape">
    <img class="hero-shape-7" src="assets/img/shape/shape-10.png" alt="shape">
    <div class="hero-shap-5 d-none d-xxl-block">
        <div class="hero-card">
            <img src="assets/img/shape/slider-card-1.png" alt="image not found">
            <img src="assets/img/shape/slider-card-2.png" alt="image not found">
            <img src="assets/img/shape/slider-card-3.png" alt="image not found">
            <img src="assets/img/shape/slider-card-4.png" alt="image not found">
            <span><i class="far fa-plus"></i></span>
        </div>
        <h5>More than <span>21,500+</span> students
            enrolled around the world
        </h5>
    </div>
    <div class="container">
        <div class="hero-2-content-wrpapper position-relative">
            <div class="hero-shape-3 d-none d-xl-block">
                <img class="" src="assets/img/shape/shape-04.png" alt="image not found">
                <h5 class="slider-shap-text">Top Rated
                    Instructors</h5>
            </div>
            <div class="hero-shape-2 d-none d-xl-block">
                <img src="assets/img/shape/shape-09.png" alt="shape">
            </div>
            <div class="hero-shape-4 d-none d-lg-block">
                <img src="assets/img/shape/shape-8.png" alt="shape">
            </div>
            <div class="hero-thumb-01 d-none d-xl-block">
                <img src="assets/img/slider/hero-01.png" alt="shape">
            </div>
            <div class="hero-thumb-02 d-none d-lg-block">
                <img src="assets/img/slider/hero-02.png" alt="shape">
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-10">
                    <div class="slider-content-wrapper">
                        <div class="hero-tittle-info text-center mb-45">
                            <h2>Build Your Own Online<br>
                                Platform <span class="down-mark-line-2">Eduman</span></h2>
                        </div>
                        <div class="slider-search ">
                            <form action="#">
                                <div class="slider-search-icon position-relative">
                                    <input type="text" placeholder="Search courses...">
                                    <button type="submit"><i class="far fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                        <div class="slider-course-content text-center">
                            <ul>
                                <li><i class="fas fa-check-circle"></i><span>Free for physically handcraft</span></li>
                                <li><i class="fas fa-check-circle"></i><span>Course certificate</span></li>
                                <li><i class="fas fa-check-circle"></i><span>Easy to enroll courses</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hero-area end-->