<div class="course-sidebar-info" [class.content-hidden]="shopPriceActive">
    <h3 class="drop-btn" (click)="shopPrice()">Price</h3>
    <ul>
       <li>
          <div class="course-sidebar-list">
             <input class="edu-check-box" type="radio" id="e-85" name="price">
             <label class="edu-check-label" for="e-85">All (85)</label>
          </div>
       </li>
       <li>
          <div class="course-sidebar-list">
             <input class="edu-check-box" type="radio" id="e-all" name="price">
             <label class="edu-check-label" for="e-all">Free (21)</label>
          </div>
       </li>
       <li>
          <div class="course-sidebar-list">
             <input class="edu-check-box" type="radio" id="f-all" name="price">
             <label class="edu-check-label" for="f-all">Paid (54)</label>
          </div>
       </li>
    </ul>
 </div>