<main>
    <app-headerfour></app-headerfour>
    <app-breadcrumb breadcrumbTitle="About"  breadcrumbSubTitle="About"></app-breadcrumb>
    <app-studentsection></app-studentsection>
    <app-aboutfeature></app-aboutfeature>
    <app-aboutfeaturevideo></app-aboutfeaturevideo>
    <app-aboutcounter></app-aboutcounter>
    <app-knowsbetter></app-knowsbetter>
    <app-aboutinstructor></app-aboutinstructor>
    <app-affiliatesection></app-affiliatesection>
    <app-footerone></app-footerone>
</main>

