<app-headerfour></app-headerfour>

<app-faqbanner></app-faqbanner>
<!-- faq-area-start -->
<div class="faq-topic-area pb-90">
    <div class="container">
       <div class="faq-tabs-area mt-50">
          <div class="row">
             <div class="col-xl-12">
                <div class="faq-nav-tab">
                   <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item" role="presentation">
                         <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                            type="button" role="tab" aria-controls="home" aria-selected="true">Student</button>
                      </li>
                      <li class="nav-item" role="presentation">
                         <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                            type="button" role="tab" aria-controls="profile"
                            aria-selected="false">Instructor</button>
                      </li>
                   </ul>
                </div>
                <div class="faq-nav-content">
                   <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                         <div class="faq-area pt-30 pb-30">
                            <div class="row">
                               <div class="col-xl-12">
                                  <div class="faq-tittle-info text-center pt-55 mb-50">
                                     <h3>Frequently Asked Queastions</h3>
                                  </div>
                               </div>
                               <div class="col-xl-4 col-lg-6">
                                  <div class="faq-wrapper mb-30">
                                     <div class="faq-question-item">
                                        <div class="faq-queastion-text">
                                           <a [routerLink]="['/faq-details']">Life time access for course</a>
                                        </div>
                                        <div class="faqicon-arrow">
                                           <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-xl-4 col-lg-6">
                                  <div class="faq-wrapper mb-30">
                                     <div class="faq-question-item">
                                        <div class="faq-queastion-text">
                                           <a [routerLink]="['/faq-details']">How to find missing course</a>
                                        </div>
                                        <div class="faqicon-arrow">
                                           <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-xl-4 col-lg-6">
                                  <div class="faq-wrapper mb-30">
                                     <div class="faq-question-item">
                                        <div class="faq-queastion-text">
                                           <a [routerLink]="['/faq-details']">How to download course certificate</a>
                                        </div>
                                        <div class="faqicon-arrow">
                                           <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-xl-4 col-lg-6">
                                  <div class="faq-wrapper mb-30">
                                     <div class="faq-question-item">
                                        <div class="faq-queastion-text">
                                           <a [routerLink]="['/faq-details']">Life time access for course</a>
                                        </div>
                                        <div class="faqicon-arrow">
                                           <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-xl-4 col-lg-6">
                                  <div class="faq-wrapper mb-30">
                                     <div class="faq-question-item">
                                        <div class="faq-queastion-text">
                                           <a [routerLink]="['/faq-details']">How to refund a course</a>
                                        </div>
                                        <div class="faqicon-arrow">
                                           <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-xl-4 col-lg-6">
                                  <div class="faq-wrapper mb-30">
                                     <div class="faq-question-item">
                                        <div class="faq-queastion-text">
                                           <a [routerLink]="['/faq-details']">Payment method on Eduman</a>
                                        </div>
                                        <div class="faqicon-arrow">
                                           <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-xl-4 col-lg-6">
                                  <div class="faq-wrapper mb-30">
                                     <div class="faq-question-item">
                                        <div class="faq-queastion-text">
                                           <a [routerLink]="['/faq-details']">How to start course on Mobile</a>
                                        </div>
                                        <div class="faqicon-arrow">
                                           <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-xl-4 col-lg-6">
                                  <div class="faq-wrapper mb-30">
                                     <div class="faq-question-item">
                                        <div class="faq-queastion-text">
                                           <a [routerLink]="['/faq-details']">How to gift course to friend</a>
                                        </div>
                                        <div class="faqicon-arrow">
                                           <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-xl-4 col-lg-6">
                                  <div class="faq-wrapper mb-30">
                                     <div class="faq-question-item">
                                        <div class="faq-queastion-text">
                                           <a [routerLink]="['/faq-details']">How edit your profile</a>
                                        </div>
                                        <div class="faqicon-arrow">
                                           <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                         <div class="faq-area pt-30 pb-30">
                            <div class="row">
                               <div class="col-xl-12">
                                  <div class="faq-tittle-info text-center pt-55 mb-50">
                                    <h3>Frequently Asked Queastions</h3>
                                 </div>
                               </div>
                               <div class="col-xl-4 col-lg-6">
                                  <div class="faq-wrapper mb-30">
                                     <div class="faq-question-item">
                                        <div class="faq-queastion-text">
                                           <a [routerLink]="['/faq-details']">How to find missing course</a>
                                        </div>
                                        <div class="faqicon-arrow">
                                           <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-xl-4 col-lg-6">
                                  <div class="faq-wrapper mb-30">
                                     <div class="faq-question-item">
                                        <div class="faq-queastion-text">
                                           <a [routerLink]="['/faq-details']">How to download course certificate</a>
                                        </div>
                                        <div class="faqicon-arrow">
                                           <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-xl-4 col-lg-6">
                                  <div class="faq-wrapper mb-30">
                                     <div class="faq-question-item">
                                        <div class="faq-queastion-text">
                                           <a [routerLink]="['/faq-details']">Life time access for course</a>
                                        </div>
                                        <div class="faqicon-arrow">
                                           <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-xl-4 col-lg-6">
                                  <div class="faq-wrapper mb-30">
                                     <div class="faq-question-item">
                                        <div class="faq-queastion-text">
                                           <a [routerLink]="['/faq-details']">Life time access for course</a>
                                        </div>
                                        <div class="faqicon-arrow">
                                           <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-xl-4 col-lg-6">
                                  <div class="faq-wrapper mb-30">
                                     <div class="faq-question-item">
                                        <div class="faq-queastion-text">
                                           <a [routerLink]="['/faq-details']">How to refund a course</a>
                                        </div>
                                        <div class="faqicon-arrow">
                                           <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-xl-4 col-lg-6">
                                  <div class="faq-wrapper mb-30">
                                     <div class="faq-question-item">
                                        <div class="faq-queastion-text">
                                           <a [routerLink]="['/faq-details']">Payment method on Eduman</a>
                                        </div>
                                        <div class="faqicon-arrow">
                                           <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-xl-4 col-lg-6">
                                  <div class="faq-wrapper mb-30">
                                     <div class="faq-question-item">
                                        <div class="faq-queastion-text">
                                           <a [routerLink]="['/faq-details']">How to start course on Mobile</a>
                                        </div>
                                        <div class="faqicon-arrow">
                                           <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-xl-4 col-lg-6">
                                  <div class="faq-wrapper mb-30">
                                     <div class="faq-question-item">
                                        <div class="faq-queastion-text">
                                           <a [routerLink]="['/faq-details']">How to gift course to friend</a>
                                        </div>
                                        <div class="faqicon-arrow">
                                           <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-xl-4 col-lg-6">
                                  <div class="faq-wrapper mb-30">
                                     <div class="faq-question-item">
                                        <div class="faq-queastion-text">
                                           <a [routerLink]="['/faq-details']">How edit your profile</a>
                                        </div>
                                        <div class="faqicon-arrow">
                                           <a [routerLink]="['/faq-details']"><i class="far fa-chevron-right"></i></a>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       
       <app-faqtopic></app-faqtopic>
    </div>
 </div>
 <!-- faq-area-end -->

<app-footerone></app-footerone>