<!-- become-intructor-area-start -->
<div class="become-intructor-area pt-110 pb-120">
    <div class="container">
       <div class="row justify-content-center text-center">
          <div class="col-xl-6 col-md-8">
             <div class="become-intructor-text">
                <h2>Become an Instructor Today</h2>
                <p>Join one of the world’s largest online learning marketplaces. Our Instructor Support Team is
                   ready to help you while our Teaching Center</p>
                <a class="edu-btn" [routerLink]="['/become-instructor']">Get started now</a>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- become-intructor-area-end -->