<!-- events-area-start -->
<div class="event-area pt-110 pb-90">
    <div class="event-shape-wrapper position-relative">
        <div class="event-shape">
            <img src="assets/img/shape/feedback-img.png" alt="image not found">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-12">
                <app-eventinner></app-eventinner>
            </div>
            <div class="col-xl-6 col-lg-6 col-12">
                <app-testimonialthree></app-testimonialthree>
            </div>
        </div>
    </div>
</div>
<!-- events-area-end -->