<app-headerfour></app-headerfour>
<app-breadcrumb breadcrumbTitle="Startup Business Management Live Class"  breadcrumbSubTitle="Startup Business Management Live Class"></app-breadcrumb>

<!-- zoom-class-detalis-area-start -->
<div class="zoom-class-detalis-area pt-120 pb-85">
    <div class="container">
       <div class="row">
          <div class="col-xl-8 col-lg-7">
             <div class="zoom-main-thumb w-img mb-30">
                <img src="assets/img/zoom/zoom-main-thumb.jpg" alt="zoom-tumb">
             </div>
             <div class="zoom-main-content">
                <div class="content-main-heading">
                   <a class="category-color category-color-3" href="#">Business</a>
                </div>
                <div class="contents-widget">
                   <h4>Introduction</h4>
                   <p>There are so many websites out there that have not considered the overall usability of their
                      visually impaired users. When it comes to designing better links and sending better emails,
                      Slava Shestopalov has a few tips on how to improve your website’s experience while
                      accessibility in mind.</p>
                </div>
                <div class="contents-widget">
                   <h4>Objective:</h4>
                   <div class="objective-list">
                      <ul>
                         <li>Exercise</li>
                         <li>Case Study</li>
                         <li>Role Play/ Simulation</li>
                         <li>Lecture Discussion and </li>
                         <li>Sharing/ Participatory</li>
                      </ul>
                   </div>
                </div>
                <div class="contents-widget mb-30">
                   <h4>Contents of Class:</h4>
                   <ul>
                      <li>• HR Audit: Concept</li>
                      <li>• Objectives & Purpose of Audit</li>
                      <li>• Principles of Effective HR Auditing</li>
                      <li>• Principles of Effective HR Auditing</li>
                      <li>• Knowledge, Skills & Attitude of an HR Auditor</li>
                      <li>• Tasks of an HR Auditor</li>
                      <li>• Types of HR Audit</li>
                      <li>• HR Audit Tools</li>
                      <li>• Steps/ Stages of HR Audit</li>
                      <li>• Techniques of Auditing</li>
                      <li>• Method of HR Audit</li>
                      <li>• Documents for HR Audit</li>
                      <li>• HR Audit Check List</li>
                      <li>• Specific Task during HR Audit</li>
                      <li>• HR Audit Report Preparation</li>
                   </ul>
                </div>
             </div>
          </div>
          <div class="col-xl-4 col-lg-5">
             <div class="sidebar-widget-wrapper">
                <div class="sidebar-widget mb-30">
                   <div class="sidebar-widget-details">
                      <div class="zoom-widget-tittle">
                         <h4>Details</h4>
                      </div>
                      <div class="zoom-widget-list">
                         <ul>
                            <li>
                               <div class="widget-detalis">
                                  <i class="flaticon-avatar"></i>
                                  <span>Hosted by</span>
                               </div>
                               <div class="widget-list">
                                  <span>Junior Lucy</span>
                               </div>
                            </li>
                            <li>
                               <div class="widget-detalis">
                                  <i class="flaticon-calendar"></i>
                                  <span>Date</span>
                               </div>
                               <div class="widget-list">
                                  <span>10 Jan 2022</span>
                               </div>
                            </li>
                            <li>
                               <div class="widget-detalis">
                                  <i class="flaticon-clock"></i>
                                  <span>Schedule</span>
                               </div>
                               <div class="widget-list">
                                  <span>10 AM - 12 PM</span>
                               </div>
                            </li>
                            <li>
                               <div class="widget-detalis">
                                  <i class="flaticon-video-marketing"></i>
                                  <span>Length</span>
                               </div>
                               <div class="widget-list">
                                  <span>2h 10m</span>
                               </div>
                            </li>
                            <li>
                               <div class="widget-detalis">
                                  <i class="flaticon-menu-2"></i>
                                  <span>Category</span>
                               </div>
                               <div class="widget-list">
                                  <span>Data Science</span>
                               </div>
                            </li>
                            <li>
                               <div class="widget-detalis">
                                  <i class="flaticon-earth-grid-select-language-button"></i>
                                  <span>Laguage</span>
                               </div>
                               <div class="widget-list">
                                  <span>English</span>
                               </div>
                            </li>
                            <li>
                               <div class="widget-detalis">
                                  <i class="flaticon-bookmark-white"></i>
                                  <span>Hosted by</span>
                               </div>
                               <div class="widget-list">
                                  <span>Via Zoom</span>
                               </div>
                            </li>
                         </ul>
                      </div>
                      <div class="zoom-btn">
                         <a class="event-btn" [routerLink]="['/zoom-class-detalis']"><i
                               class="flaticon-video-camera"></i>Join this
                            class</a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- zoom-class-detalis-area-end -->

<app-footerone></app-footerone>