<div class="sidebar__widget mb-30">
    <div class="sidebar__widget-head mb-35">
       <h4 class="sidebar__widget-title">Tags</h4>
    </div>
    <div class="sidebar__widget-content">
       <div class="sidebar__tag">
          <a [routerLink]="['/course']">Art &amp; Design</a>
          <a [routerLink]="['/course']">Course</a>
          <a [routerLink]="['/course']">Videos</a>
          <a [routerLink]="['/course']">App</a>
          <a [routerLink]="['/course']">Education</a>
          <a [routerLink]="['/course']">Data Science</a>
          <a [routerLink]="['/course']">Machine Learning</a>
          <a [routerLink]="['/course']">Tips</a>
       </div>
    </div>
 </div>