<!-- gallery-area-start -->
<div class="gallery-area">
    <div class="swiper-containers">
        <div class="swiper-wrappers gallery-inner">
            <!-- Slides -->
            <div class="swiper-slides gallery-single w-img">
                <img src="assets/img/gallery/gallary_img-1.jpg" alt="image not found">
                <div class="gallery-link">
                    <a href="#" class="gallery-insta"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="swiper-slides gallery-single w-img">
                <img src="assets/img/gallery/gallary_img-2.jpg" alt="image not found">
                <div class="gallery-link">
                    <a href="#" class="gallery-insta"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="swiper-slides gallery-single w-img">
                <img src="assets/img/gallery/gallary_img-3.jpg" alt="image not found">
                <div class="gallery-link">
                    <a href="#" class="gallery-insta"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="swiper-slides gallery-single w-img">
                <img src="assets/img/gallery/gallary_img-4.jpg" alt="image not found">
                <div class="gallery-link">
                    <a href="#" class="gallery-insta"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="swiper-slides gallery-single w-img">
                <img src="assets/img/gallery/gallary_img-5.jpg" alt="image not found">
                <div class="gallery-link">
                    <a href="#" class="gallery-insta"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- gallery-area-end -->