<div class="contact-form">
    <form action="#">
         <div class="row">
             <div class="col-xl-6">
             <div class="contact-from-input mb-20">
                 <input type="text" placeholder="Name">
             </div>
             </div>
             <div class="col-xl-6">
             <div class="contact-from-input mb-20">
                 <input type="text" placeholder="Phone">
             </div>
             </div>
             <div class="col-xl-6">
             <div class="contact-from-input mb-20">
                 <input type="text" placeholder="Email">
             </div>
             </div>
             <div class="col-xl-6">
             <div class="contact-select">
                 <select class="mb-20">
                     <option value="Subject">Course</option>
                     <option value="Subject">Financial Aid</option>
                     <option value="Subject">Payment</option>
                     <option value="Subject">Information</option>
                 </select>
             </div>
             </div>
             <div class="col-xl-12">
             <div class="contact-from-input mb-20">
                 <textarea placeholder="Message" name="message"></textarea>
             </div>
             </div>
             <div class="col-xl-2 ">
             <div class="cont-btn mb-20">
                 <a href="#" class="cont-btn">Submit</a>
             </div>
             </div>
         </div>
    </form>
 </div>