// event-details
@import '../../../../custom-palettes.scss';

.event-contact-info {
	h2 {
		margin-bottom: 30px;
		@media #{$md} {
			font-size: 32px;
		}
		@media #{$sm,$xs} {
			font-size: 24px;
		}
	}
}
.introduction-info {
	h4 {
		font-size: 18px;
		margin-bottom: 15px;
	}
}
.introduction-info {
	p {
		margin-bottom: 25px;
	}
}
.even-point-tittle {
	h4 {
		margin-bottom: 15px;
		font-size: 18px;
	}
}
.event-speaker-info {
	h4 {
		font-size: 20px;
		margin-bottom: 35px;
	}
}
.event-speaker-wrapper {
	box-shadow: 0px 10px 30px rgba(28, 51, 84, 0.08);
	border: 1px solid $border;
	background-color: $white;
	padding: 28px 29px 28px 29px;
	border-radius: 5px;
	position: relative;
}
.event-speaker-content {
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #ffffff;
	padding: 13px 20px 19px 20px;
	border-radius: 3px;
	min-width: 240px;
	span {
		font-size: 16px;
		font-weight: 700;
		color: $heading-color;
		display: block;
		margin-bottom: 5px;
	}
	p {
		margin-bottom: 0px;
		line-height: 1;
	}
}
.event-price-info {
	display: flex;
	justify-content: space-between;
}
.event-price {
	display: flex;
}
.event-information-wrapper {
	padding: 30px 30px 30px 30px;
	box-shadow: 0px 10px 30px rgba(28, 51, 84, 0.08);
	background-color: $white;
	border-radius: 5px;
	border: 1px solid $border;
	@media #{$xs} {
		padding: 30px 20px 30px 20px;
	}
}
.event-information-list {
	padding: 30px 0 30px 0px;
	ul {
		li {
			display: flex;
			justify-content: space-between;
			border-bottom: 1px solid $border;
			padding: 10px 0px 10px 0px;
			flex-wrap: wrap;
			&:last-child {
				border: none;
				padding-bottom: 5px;
			}
		}
		i {
			line-height: 0;

			margin-right: 15px;
		}
	}
}
.information-list {
	display: flex;
	align-items: center;
	&:first-child {
		span {
			font-weight: 600;
		}
	}
}
.old-price {
	margin-left: 10px;
}
.event-price {
	span {
		font-size: 28px;
		font-weight: 900;
		color: $heading-color;
	}
}
.event-ticket-cost {
	span {
		font-weight: 600;
	}
}
.event-sponsor-wrapper {
	border: 1px solid $border;
	padding: 30px 30px;
	border-radius: 5px;
	box-shadow: 0px 10px 30px rgba(28, 51, 84, 0.08);
	background-color: $white;
}
.sopnsor-tittle {
	h4 {
		margin-bottom: 35px;
	}
}
.sponsor-thumb {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
}
// google-map
.event-map {
	@media #{$md,$sm,$xs} {
		margin-bottom: 30px;
	}
	iframe {
		height: 330px;
		width: 100%;
	}
}