<!-- hero-area-start -->
<div class="hero-arera course-item-height" [style.background-image]="'url(assets/img/slider/course-slider.jpg)'">
    <div class="container">
       <div class="row">
          <div class="col-xl-12">
             <div class="hero-course-1-text">
                <h2>{{breadcrumbTitle ? breadcrumbTitle : "Courses"}}</h2>
             </div>
             <div class="course-title-breadcrumb">
                <nav>
                   <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                      <li class="breadcrumb-item"><span>{{breadcrumbSubTitle ? breadcrumbSubTitle : "Courses"}}</span></li>
                   </ol>
                </nav>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- hero-area-end -->