<div class="sidebar__widget mb-30">
    <div class="sidebar__widget-head mb-35">
       <h4 class="sidebar__widget-title">Category</h4>
    </div>
    <div class="sidebar__widget-content">
       <div class="sidebar__category">
          <ul>
             <li><a [routerLink]="['/blog']">Data Science(2)</a></li>
             <li><a [routerLink]="['/blog']">Video &amp; Tips (4)</a></li>
             <li><a [routerLink]="['/blog']">Education (8)</a></li>
             <li><a [routerLink]="['/blog']">Business (5)</a></li>
             <li><a [routerLink]="['/blog']">UX Design (3)</a></li>
          </ul>
       </div>
    </div>
 </div>