<!-- education-area-start -->
<section class="education-area position-relative pt-85">
    <div class="container">
       <img class="education-shape-2" src="assets/img/shape/education-shape-04.png" alt="shape">
       <img class="education-shape-3" src="assets/img/shape/education-shape-01.png" alt="shape">
       <img class="education-shape-4" src="assets/img/shape/education-shape-03.png" alt="shape">
       <div class="row">
          <div class="col-xl-4 col-lg-4 offset-xl-2 offset-lg-2">
             <div class="education-img mb-30">
                <img src="assets/img/teacher/education.png" alt="image not found">
             </div>
          </div>
          <div class="col-xl-4 col-lg-4">
             <div class="section-title mb-30">
                <h2>Transform Your
                   Life Through <span class="down-mark-line">Education</span></h2>
             </div>
             <div class="education-content mb-30">
                <p>Helping employees gain skills and providing career development often take a back seat to
                   business priorities but workplace.</p>
                <a class="edu-sec-btn" [routerLink]="['/about']">Watch how to start</a>
             </div>
          </div>
       </div>
    </div>

 </section>
 <!-- education-area-end -->