<main>
    <app-headertwo></app-headertwo>
    <app-herosectiontwo></app-herosectiontwo>
    <app-countersection></app-countersection>
    <app-aboutsectiontwo></app-aboutsectiontwo>
    <app-categoriessectiontwo></app-categoriessectiontwo>
    <app-coursetabtwo></app-coursetabtwo>
    <app-partnersection></app-partnersection>
    <app-featuresection></app-featuresection>
    <app-teachersection></app-teachersection>
    <app-zoomsection></app-zoomsection>
    <app-skillsection></app-skillsection>
    <app-blogsection></app-blogsection>
    <app-footerone></app-footerone>
</main>
