// intructors
@import '../../../../custom-palettes.scss';

.course-detiles-meta {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid $border;
	border-bottom: 1px solid $border;
	padding: 18px 0;
	flex-wrap: wrap;
	gap: 30px;
}
.course-instructors-img {
	img {
		max-width: 100%;
	}
}
.course-detiles-tittle {
	h3 {
		font-size: 28px;
		font-weight: 700;
		margin-bottom: 0;
	}
}
.total-course {
	position: relative;
	span {
		display: block;
		margin-bottom: -5px;
	}
	&:before {
		position: absolute;
		content: "";
		width: 1px;
		height: 42px;
		background: $border;
		right: -65%;
		top: 5px;
		@media #{$xl} {
			right: -40%;
		}
		@media #{$lg,$md} {
			right: -35%;
		}
		@media #{$xs} {
			display: none;
		}
	}
}
.student.course {
	position: relative;
	label {
		color: $heading-color;
		font-size: 18px;
		font-weight: 700;
	}
	&:before {
		position: absolute;
		content: "";
		width: 1px;
		height: 40px;
		background: $border;
		right: -90%;
		top: 5px;
		@media #{$xl} {
			right: -65%;
		}
		@media #{$lg,$md} {
			right: -50%;
		}
		@media #{$lg,$md} {
			right: -40%;
		}
		@media #{$xs} {
			display: none;
		}
	}
}
.share-btn {
	i {
		color: $heading-color;
	}
}
.student.course {
	span {
		display: block;
		margin-bottom: -5px;
	}
}
.total-course label {
	font-size: 18px;
	font-weight: 700;
	color: $heading-color;
}
.review-course-inner {
	ul {
		li {
			i {
				margin-right: 6px;
				color: $theme-color-2;
				font-size: 13px;
			}
		}
	}
}
.review-course-inner {
	p {
		color: $heading-color;
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 0px;
	}
}
.course-bio-text {
	h3 {
		font-size: 20px;
		margin-bottom: 15px;
	}
}