<app-headerfour></app-headerfour>

<app-breadcrumb breadcrumbTitle="Instructor"  breadcrumbSubTitle="David Allberto"></app-breadcrumb>

<!-- course-detailes-area-start -->
<div class="course-detalies-area pt-120 pb-100">
    <div class="container">
       <div class="row">
          <div class="col-xl-3 col-lg-3">
             <div class="course-instructors-img mb-30">
                <img src="assets/img/course/course-instructors.png" alt="nstructors-img">
             </div>
          </div>
          <div class="col-xl-8 col-lg-9">
             <div class="course-detelies-wrapper">
                <div class="course-detiles-tittle mb-30">
                   <h3>David Allberto</h3>
                   <span>Software Developer</span>
                </div>
                <div class="course-detiles-meta">
                   <div class="total-course">
                      <span>Total Courses</span>
                      <label>22</label>
                   </div>
                   <div class="student course">
                      <span>Students</span>
                      <label>5,230</label>
                   </div>
                   <div class="review-course">
                      <span>Review</span>
                      <div class="review-course-inner d-flex">
                         <ul>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                         </ul>
                         <p>4.9 (540)</p>
                      </div>
                   </div>
                   <div class="course-details-action">
                      <div class="course-follow">
                         <a href="javascript:void(0)" class="edu-follow-btn" (click)="followedClick()" [class.followed]="followedActive">{{btnVal}}</a>
                      </div>
                      <div class="course-share">
                         <a href="#" class="share-btn"><i class="far fa-share-alt"></i></a>
                      </div>
                   </div>
                </div>
                <div class="course-bio-text pt-45 pb-20">
                   <h3>Biography</h3>
                   <p>David Allberto is a Software Developer and Instructor having enjoyed his courses to date. He
                      is the creator of Codexpand, a place of learning and growth to help people move into and be
                      successful within the Helping Industry. One of Graham's key driving forces is to remove the
                      barriers to the Helping Industry by producing high quality, accredited courses at affordable
                      prices.</p>
                </div>
                <div class="my-course-info">
                   <h3>My Courses</h3>
                </div>
                <div class="row">
                   <div class="col-xl-6 col-lg-6 col-md-6 col-md-6">
                      <div class="eduman-course-main-wrapper mb-30">
                         <div class="eduman-course-img w-img">
                            <a [routerLink]="['/course-details']"><img src="assets/img/portfilo/course-img-01.jpg"
                                  alt="course-img"></a>
                         </div>
                         <div class="eduman-course-wraper">
                            <div class="eduman-course-heading">
                               <a [routerLink]="['/course']" class="course-link-color-1">Development</a>
                               <span class="couse-star"><i class="fas fa-star"></i>4.9 (25)</span>
                            </div>
                            <div class="eduman-course-text">
                               <h3><a [routerLink]="['/course-details']">WordPress Development Course for Plugins &amp;
                                     Themes</a></h3>
                            </div>
                            <div class="eduman-course-meta">
                               <div class="eduman-course-price">
                                  <span class="price-now">$47.00 </span>
                                  <del class="price-old">$75.50</del>
                               </div>
                               <div class="eduman-course-tutor">
                                  <a [routerLink]="['/instructor-profile']"><img
                                        src="assets/img/portfilo/course-tutor-01.png" alt="tutor-img"></a>
                                  <a [routerLink]="['/instructor-profile']"><span>Eduman</span></a>
                               </div>
                            </div>
                         </div>
                         <div class="eduman-course-footer">
                            <div class="course-lessson-svg">
                               <svg xmlns="http://www.w3.org/2000/svg" width="16.471" height="16.471"
                                  viewBox="0 0 16.471 16.471">
                                  <g id="blackboard-52441" transform="translate(-0.008)">
                                     <path id="Path_101-65441" data-name="Path 101"
                                        d="M16,1.222H8.726V.483a.483.483,0,1,0-.965,0v.74H.491A.483.483,0,0,0,.008,1.7V13.517A.483.483,0,0,0,.491,14H5.24L4.23,15.748a.483.483,0,1,0,.836.483L6.354,14H7.761v1.99a.483.483,0,0,0,.965,0V14h1.407l1.288,2.231a.483.483,0,1,0,.836-.483L11.247,14H16a.483.483,0,0,0,.483-.483V1.7A.483.483,0,0,0,16,1.222Zm-.483.965v8.905H.973V2.187Zm0,10.847H.973v-.976H15.514Z"
                                        fill="#575757" />
                                  </g>
                               </svg>
                               <span class="ms-2">12 Lessons</span>
                            </div>
                            <div class="course-deteals-btn">
                               <a [routerLink]="['/course-details']"><span class="me-2">View Details</span><i
                                     class="far fa-arrow-right"></i></a>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="col-xl-6 col-lg-6 col-md-6">
                      <div class="eduman-course-main-wrapper mb-30">
                         <div class="eduman-course-img w-img">
                            <a [routerLink]="['/course-details']"><img src="assets/img/portfilo/course-img-02.jpg"
                                  alt="course-img"></a>
                         </div>
                         <div class="eduman-course-wraper">
                            <div class="eduman-course-heading">
                               <a [routerLink]="['/course']" class="course-link-color-2">Life Style</a>
                               <span class="couse-star"><i class="fas fa-star"></i>4.9 (25)</span>
                            </div>
                            <div class="eduman-course-text">
                               <h3><a [routerLink]="['/course-details']">Master Google Docs: Free online documents for
                                     personal use</a></h3>
                            </div>
                            <div class="eduman-course-meta">
                               <div class="eduman-course-price">
                                  <span class="price-now">$47.00 </span>
                                  <del class="price-old">$75.50</del>
                               </div>
                               <div class="eduman-course-tutor">
                                  <a [routerLink]="['/instructor-profile']"><img
                                        src="assets/img/portfilo/course-tutor-02.png" alt="image not found"></a>
                                  <a [routerLink]="['/instructor-profile']"><span>Eduman</span></a>
                               </div>
                            </div>
                         </div>
                         <div class="eduman-course-footer">
                            <div class="course-lessson-svg">
                               <svg xmlns="http://www.w3.org/2000/svg" width="16.471" height="16.471"
                                  viewBox="0 0 16.471 16.471">
                                  <g id="blackboard-1244" transform="translate(-0.008)">
                                     <path id="Path_10154542" data-name="Path 101"
                                        d="M16,1.222H8.726V.483a.483.483,0,1,0-.965,0v.74H.491A.483.483,0,0,0,.008,1.7V13.517A.483.483,0,0,0,.491,14H5.24L4.23,15.748a.483.483,0,1,0,.836.483L6.354,14H7.761v1.99a.483.483,0,0,0,.965,0V14h1.407l1.288,2.231a.483.483,0,1,0,.836-.483L11.247,14H16a.483.483,0,0,0,.483-.483V1.7A.483.483,0,0,0,16,1.222Zm-.483.965v8.905H.973V2.187Zm0,10.847H.973v-.976H15.514Z"
                                        fill="#575757" />
                                  </g>
                               </svg>
                               <span class="ms-2">12 Lessons</span>
                            </div>
                            <div class="course-deteals-btn">
                               <a [routerLink]="['/course-details']"><span class="me-2">View Details</span><i
                                     class="far fa-arrow-right"></i></a>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="col-xl-6 col-lg-6 col-md-6">
                      <div class="eduman-course-main-wrapper mb-30">
                         <div class="eduman-course-img w-img">
                            <a [routerLink]="['/course-details']"><img src="assets/img/portfilo/course-img-03.jpg"
                                  alt="course-img"></a>
                         </div>
                         <div class="eduman-course-wraper">
                            <div class="eduman-course-heading">
                               <a [routerLink]="['/course']" class="course-link-color-3">Business</a>
                               <span class="couse-star"><i class="fas fa-star"></i>4.9 (25)</span>
                            </div>
                            <div class="eduman-course-text">
                               <h3><a [routerLink]="['/course-details']">Write Better Emails: Tactics for Smarter Team
                                     Communication</a></h3>
                            </div>
                            <div class="eduman-course-meta">
                               <div class="eduman-course-price">
                                  <span class="price-now">$47.00 </span>
                                  <del class="price-old">$75.50</del>
                               </div>
                               <div class="eduman-course-tutor">
                                  <a [routerLink]="['/instructor-profile']"><img
                                        src="assets/img/portfilo/course-tutor-04.png" alt="image not found"></a>
                                  <a [routerLink]="['/instructor-profile']"><span>Eduman</span></a>
                               </div>
                            </div>
                         </div>
                         <div class="eduman-course-footer">
                            <div class="course-lessson-svg">
                               <svg xmlns="http://www.w3.org/2000/svg" width="16.471" height="16.471"
                                  viewBox="0 0 16.471 16.471">
                                  <g id="blackboard" transform="translate(-0.008)">
                                     <path id="Path_101" data-name="Path 101"
                                        d="M16,1.222H8.726V.483a.483.483,0,1,0-.965,0v.74H.491A.483.483,0,0,0,.008,1.7V13.517A.483.483,0,0,0,.491,14H5.24L4.23,15.748a.483.483,0,1,0,.836.483L6.354,14H7.761v1.99a.483.483,0,0,0,.965,0V14h1.407l1.288,2.231a.483.483,0,1,0,.836-.483L11.247,14H16a.483.483,0,0,0,.483-.483V1.7A.483.483,0,0,0,16,1.222Zm-.483.965v8.905H.973V2.187Zm0,10.847H.973v-.976H15.514Z"
                                        fill="#575757" />
                                  </g>
                               </svg>
                               <span class="ms-2">12 Lessons</span>
                            </div>
                            <div class="course-deteals-btn">
                               <a [routerLink]="['/course-details']"><span class="me-2">View Details</span><i
                                     class="far fa-arrow-right"></i></a>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="col-xl-6 col-lg-6 col-md-6">
                      <div class="eduman-course-main-wrapper mb-30">
                         <div class="eduman-course-img w-img">
                            <a [routerLink]="['/course-details']"><img src="assets/img/portfilo/course-img-06.jpg"
                                  alt="course-img"></a>
                         </div>
                         <div class="eduman-course-wraper">
                            <div class="eduman-course-heading">
                               <a [routerLink]="['/course']" class="course-link-color-4">Health & Fitness</a>
                               <span class="couse-star"><i class="fas fa-star"></i>4.9 (25)</span>
                            </div>
                            <div class="eduman-course-text">
                               <h3><a [routerLink]="['/course-details']">Become a Super Human: Naturally & Safely Boost
                                     Testosterone</a></h3>
                            </div>
                            <div class="eduman-course-meta">
                               <div class="eduman-course-price">
                                  <span class="price-now">$47.00 </span>
                               </div>
                               <div class="eduman-course-tutor">
                                  <a [routerLink]="['/instructor-profile']"><img
                                        src="assets/img/portfilo/course-tutor-05.png" alt="image not found"></a>
                                  <a [routerLink]="['/instructor-profile']"><span>Eduman</span></a>
                               </div>
                            </div>
                         </div>
                         <div class="eduman-course-footer">
                            <div class="course-lessson-svg">
                               <svg xmlns="http://www.w3.org/2000/svg" width="16.471" height="16.471"
                                  viewBox="0 0 16.471 16.471">
                                  <g id="blackboard-2004" transform="translate(-0.008)">
                                     <path id="Path_1012055" data-name="Path 101"
                                        d="M16,1.222H8.726V.483a.483.483,0,1,0-.965,0v.74H.491A.483.483,0,0,0,.008,1.7V13.517A.483.483,0,0,0,.491,14H5.24L4.23,15.748a.483.483,0,1,0,.836.483L6.354,14H7.761v1.99a.483.483,0,0,0,.965,0V14h1.407l1.288,2.231a.483.483,0,1,0,.836-.483L11.247,14H16a.483.483,0,0,0,.483-.483V1.7A.483.483,0,0,0,16,1.222Zm-.483.965v8.905H.973V2.187Zm0,10.847H.973v-.976H15.514Z"
                                        fill="#575757" />
                                  </g>
                               </svg>
                               <span class="ms-2">12 Lessons</span>
                            </div>
                            <div class="course-deteals-btn">
                               <a [routerLink]="['/course-details']"><span class="me-2">View Details</span><i
                                     class="far fa-arrow-right"></i></a>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <app-pagination></app-pagination>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- course-detailes-area- end -->

 <app-footerone></app-footerone>