// zoom-class stle
@import '../../../../custom-palettes.scss';

.zoom-class-main-wrapper {
	display: flex;
	border-radius: 8px;
	overflow: hidden;
	@media #{$sm,$xs} {
		display: block;
	}
}
.zoom-class-thumb {
	width: 48%;
	overflow: hidden;
	@media #{$sm,$xs} {
		width: 100%;
	}
	img {
		object-fit: cover;
		height: 100%;
		transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
	}
}
.zoom-class-main-wrapper:hover .zoom-class-thumb img {
	transform: scale3d(1.1, 1.1, 1.1);
}
.zoom-class-item {
	padding: 28px 30px 29px 30px;
	background: $white;
	box-shadow: 0px 5px 20px rgba(12, 29, 62, 0.05);
	border-bottom: 1px solid $border;
	border-right: 1px solid $border;
	border-top: 1px solid $border;
	width: 52%;
	border-radius: 0 8px 8px 0;
	@media #{$xs,$sm} {
		border-left: 1px solid $border;
		border-top: none;
		border-radius: 0 0 8px 8px;
		padding: 28px 20px 29px 20px;
		width: 100%;
	}
}
.zooom-class-tittle {
	h3 {
		line-height: 1.5;
		margin-bottom: 27px;
		@media #{$lg,$md,$sm,$xs} {
			font-size: 20px;
		}
		a:hover {
			color: $theme-color;
		}
	}
	@media #{$lg} {
		font-size: 20px;
	}
}
.class-metting {
	margin-top: 20px;
	display: block;
	a {
		font-weight: 700;
		color: $theme-color;
		margin-left: 10px;
	}
}
.class-list-date {
	margin-bottom: 5px;
	i {
		padding-right: 10px;
		line-height: 1;
	}
}
.class-list-length {
	margin-bottom: 5px;
	i {
		padding-right: 10px;
		line-height: 1;
	}
}
.class-list-time {
	margin-bottom: 5px;
	i {
		padding-right: 10px;
		line-height: 1;
	}
}