<app-headerfour></app-headerfour>
<app-breadcrumb breadcrumbTitle="Zoom Live Class"  breadcrumbSubTitle="Zoom Live Class"></app-breadcrumb>

<!-- zoom-class-area-start -->
<section class="zoom-class-area pt-120 pb-90">
    <div class="container">
       <div class="row">
          <div class="col-xl-8 col-lg-8 col-md-12">
             <div class="zoom-class-main-wrapper mb-30">
                <div class="zoom-class-thumb w-img">
                   <img src="assets/img/zoom/zoom-live-01.jpg" alt="zoom-thumb">
                </div>
                <div class="zoom-class-item">
                   <div class="zooom-class-tittle">
                      <h3><a [routerLink]="['/zoom-class-detalis']">Startup Business Management
                            Live Class</a></h3>
                   </div>
                   <div class="xzoom-class-detalis">
                      <div class="class-list-date d-flex align-items-center">
                         <i class="flaticon-calendar"></i><span>Date : 10 Jan 2022</span>
                      </div>
                      <div class="class-list-length d-flex align-items-center">
                         <i class="flaticon-video-marketing"></i><span>Length : 3h 20m</span>
                      </div>
                      <div class="class-list-time d-flex align-items-center">
                         <i class="flaticon-wall-clock"></i><span>Schedule : 10 AM - 12 PM</span>
                      </div>
                      <div class="class-metting">
                         <span>Meeting ID:<a href="#">587dre42op02486d302</a></span>
                      </div>
                   </div>
                </div>
             </div>
             <div class="zoom-class-main-wrapper mb-30">
                <div class="zoom-class-thumb w-img">
                   <img src="assets/img/zoom/zoom-live-02.jpg" alt="zoom-thumb">
                </div>
                <div class="zoom-class-item">
                   <div class="zooom-class-tittle">
                      <h3><a [routerLink]="['/zoom-class-detalis']">WordPress Theme Development
                            Live Class</a></h3>
                   </div>
                   <div class="xzoom-class-detalis">
                      <div class="class-list-date d-flex align-items-center">
                         <i class="flaticon-calendar"></i><span>Date : 11 Jan 2022</span>
                      </div>
                      <div class="class-list-length d-flex align-items-center">
                         <i class="flaticon-video-marketing"></i><span>Length : 3h 20m</span>
                      </div>
                      <div class="class-list-time d-flex align-items-center">
                         <i class="flaticon-wall-clock"></i><span>Schedule : 9 AM - 12:45 PM</span>
                      </div>
                      <div class="class-metting">
                         <span>Meeting ID:<a href="#">587dre42op02486uhg02</a></span>
                      </div>
                   </div>
                </div>
             </div>
             <div class="zoom-class-main-wrapper mb-30">
                <div class="zoom-class-thumb w-img">
                   <img src="assets/img/zoom/zoom-live-03.jpg" alt="zoom-thumb">
                </div>
                <div class="zoom-class-item">
                   <div class="zooom-class-tittle">
                      <h3><a [routerLink]="['/zoom-class-detalis']">Write Better Emails: Tactics for
                            Smarter Team Live Classs</a></h3>
                   </div>
                   <div class="xzoom-class-detalis">
                      <div class="class-list-date d-flex align-items-center">
                         <i class="flaticon-calendar"></i><span>Date : 11 Jan 2022</span>
                      </div>
                      <div class="class-list-length d-flex align-items-center">
                         <i class="flaticon-video-marketing"></i><span>Length : 2h 20m</span>
                      </div>
                      <div class="class-list-time d-flex align-items-center">
                         <i class="flaticon-wall-clock"></i><span>Schedule : 11 AM - 12:45 PM</span>
                      </div>
                      <div class="class-metting">
                         <span>Meeting ID:<a href="#">587dre254op02486d302</a></span>
                      </div>
                   </div>
                </div>
             </div>
             <div class="zoom-class-main-wrapper mb-30">
                <div class="zoom-class-thumb w-img">
                   <img src="assets/img/zoom/zoom-live-04.jpg" alt="zoom-thumb">
                </div>
                <div class="zoom-class-item">
                   <div class="zooom-class-tittle">
                      <h3><a [routerLink]="['/zoom-class-detalis']">Self Entrepreneurship Essentials
                            Live Class</a></h3>
                   </div>
                   <div class="xzoom-class-detalis">
                      <div class="class-list-date d-flex align-items-center">
                         <i class="flaticon-calendar"></i><span>Date : 20 Jan 2022</span>
                      </div>
                      <div class="class-list-length d-flex align-items-center">
                         <i class="flaticon-video-marketing"></i><span>Length : 1h 20m</span>
                      </div>
                      <div class="class-list-time d-flex align-items-center">
                         <i class="flaticon-wall-clock"></i><span>Schedule : 8 AM - 10:45 PM</span>
                      </div>
                      <div class="class-metting">
                         <span>Meeting ID:<a href="#">587dre42op01486d302</a></span>
                      </div>
                   </div>
                </div>
             </div>
             <div class="zoom-class-main-wrapper mb-30">
                <div class="zoom-class-thumb w-img">
                   <img src="assets/img/zoom/zoom-live-05.jpg" alt="zoom-thumb">
                </div>
                <div class="zoom-class-item">
                   <div class="zooom-class-tittle">
                      <h3><a [routerLink]="['/zoom-class-detalis']">Python and Django Full Stack
                            Bootcamp Live Class</a></h3>
                   </div>
                   <div class="xzoom-class-detalis">
                      <div class="class-list-date d-flex align-items-center">
                         <i class="flaticon-calendar"></i><span>Date : 15 Jan 2022</span>
                      </div>
                      <div class="class-list-length d-flex align-items-center">
                         <i class="flaticon-video-marketing"></i><span>Length : 1h 20m</span>
                      </div>
                      <div class="class-list-time d-flex align-items-center">
                         <i class="flaticon-wall-clock"></i><span>Schedule : 11 AM - 12:45 PM</span>
                      </div>
                      <div class="class-metting">
                         <span>Meeting ID:<a href="#">587dre42oe02486d302</a></span>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-8">
             <div class="sidebar-widget-wrapper">
                <div class="sidebar-widget mb-30">
                   <div class="sidebar-widget-inner">
                      <div class="sidebar-content">
                        <app-coursevideo></app-coursevideo>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- zoom-class-area-end -->

<app-footerone></app-footerone>