<div class="feedback-wrapper">
    <div class="section-title mb-45">
        <h2>Student's Feedback</h2>
    </div>
    <div class="swiper-container feedback-active">
        <div class="swiper-wrapper">
            <swiper class="mySwiper"
                [slidesPerView]="1"
                [spaceBetween]="30"
                [loop]="true"
                [autoplay]="{
                    delay: 2500,
                    disableOnInteraction: false
                }"
            >
            <ng-template swiperSlide>
                <div class="feedback-content mb-30">
                    <div class="feedback-items position-relative">
                        <div class="feedback-header">
                            <div class="feedback-img">
                                <img src="assets/img/testimonial/Image.png"
                                    alt="image not found">
                            </div>
                            <div class="feedback-title">
                                <h4>David Johnson</h4>
                                <span>Student</span>
                            </div>
                        </div>
                        <div class="feedback-icon">
                            <i class="flaticon-quotes"></i>
                        </div>
                        <div class="feedback-body">
                            <h3>Great Course !</h3>
                            <p>Thanks to our marketplace model, our content keeps pace with
                                market changes. You’ll find
                                courses on the latest technologies and business practice and
                                more!</p>
                        </div>
                        <div class="testimonial-icon">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="feedback-content mb-30">
                    <div class="feedback-items position-relative">
                        <div class="feedback-header">
                            <div class="feedback-img">
                                <img src="assets/img/testimonial/testimonial-02.png"
                                    alt="image not found">
                            </div>
                            <div class="feedback-title">
                                <h4>Brandon Tylor</h4>
                                <span>Student</span>
                            </div>
                        </div>
                        <div class="feedback-icon">
                            <i class="flaticon-quotes"></i>
                        </div>
                        <div class="feedback-body">
                            <h3>Best Experience !</h3>
                            <p>In every software-as-a-service solution, user billing and
                                payments are key aspects in the
                                sale of services rendered. Let’s learn about Stripe the metal
                                mates.</p>
                        </div>
                        <div class="testimonial-icon">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="feedback-content mb-30">
                    <div class="feedback-items position-relative">
                        <div class="feedback-header">
                            <div class="feedback-img">
                                <img src="assets/img/testimonial/testimonial.png" alt="image not found">
                            </div>
                            <div class="feedback-title">
                                <h4>Richard Joseph</h4>
                                <span>Student</span>
                            </div>
                        </div>
                        <div class="feedback-icon">
                            <i class="flaticon-quotes"></i>
                        </div>
                        <div class="feedback-body">
                            <h3>Helpful Instructors !</h3>
                            <p>There are so many websites out there that have not considered the
                                overall usability of
                                their visually impaired users. When it comes to designing better
                                links.</p>
                        </div>
                        <div class="testimonial-icon">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </ng-template>
        </swiper>
        </div>
    </div>
</div>