<!-- features-area-start-->
<div class="features-area pt-45 pb-15" [style.background-image]="'url(assets/img/fact/fact.png)'">
    <div class="container">
       <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-6">
             <div class="features-wrapper d-flex align-items-center mb-30">
                <div class="features-icon">
                   <i class="flaticon-online-course"></i>
                </div>
                <div class="features-content">
                   <h3>Learn with skills
                      over 2,420 courses</h3>
                </div>
             </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6">
             <div class="features-wrapper d-flex align-items-center mb-30">
                <div class="features-icon">
                   <i class="flaticon-certificate"></i>
                </div>
                <div class="features-content">
                   <h3>Earn certificates
                      and degrees</h3>
                </div>
             </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6">
             <div class="features-wrapper d-flex align-items-center mb-30">
                <div class="features-icon">
                   <i class="flaticon-laptop"></i>
                </div>
                <div class="features-content">
                   <h3>Learn from
                      anywhere, any time</h3>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- fact-area-end-->