<app-headerfour></app-headerfour>

<app-breadcrumb breadcrumbTitle="My Cart"  breadcrumbSubTitle="Cart"></app-breadcrumb>

<!-- Cart Area Strat-->
<section class="cart-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="table-content table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="product-thumbnail">Images</th>
                                <th class="cart-product-name">Product</th>
                                <th class="product-price">Unit Price</th>
                                <th class="product-quantity">Quantity</th>
                                <th class="product-subtotal">Total</th>
                                <th class="product-remove">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="product-thumbnail"><a [routerLink]="['/course-details']"><img
                                            src="assets/img/products/product-thumb-01.png" alt=""></a></td>
                                <td class="product-name"><a [routerLink]="['/course-details']">Turn Yourself</a></td>
                                <td class="product-price"><span class="amount">$24.00</span></td>
                                <td class="product-quantity text-center">
                                    <div class="product-quantity mt-10 mb-10">
                                        <div class="product-quantity-form">
                                            <form action="#">
                                                <button class="cart-minus" (click)="counter1('minus')"><i class="far fa-minus"></i></button>
                                                <p class="cart-input">{{count1}}</p>
                                                <button class="cart-plus" (click)="counter1('add')"><i class="far fa-plus"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                                <td class="product-subtotal"><span class="amount">$24.00</span></td>
                                <td class="product-remove"><a href="#"><i class="fa fa-times"></i></a></td>
                            </tr>
                            <tr>
                                <td class="product-thumbnail"><a [routerLink]="['/course-details']"><img
                                            src="assets/img/products/product-thumb-02.png" alt=""></a></td>
                                <td class="product-name"><a [routerLink]="['/course-details']">Art of Not Giving</a>
                                </td>
                                <td class="product-price"><span class="amount">$12.00</span></td>
                                <td class="product-quantity text-center">
                                    <div class="product-quantity mt-10 mb-10">
                                        <div class="product-quantity-form">
                                            <form action="#">
                                                <button class="cart-minus" (click)="counter('minus')"><i class="far fa-minus"></i></button>
                                                <p class="cart-input">{{count}}</p>
                                                <button class="cart-plus" (click)="counter('add')"><i class="far fa-plus"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                                <td class="product-subtotal"><span class="amount">$12.00</span></td>
                                <td class="product-remove"><a href="#"><i class="fa fa-times"></i></a></td>
                            </tr>
                            <tr>
                                <td class="product-thumbnail"><a [routerLink]="['/course-details']"><img
                                            src="assets/img/products/product-thumb-03.png" alt=""></a></td>
                                <td class="product-name"><a [routerLink]="['/course-details']">Attract Women</a></td>
                                <td class="product-price"><span class="amount">$42.00</span></td>
                                <td class="product-quantity text-center">
                                    <div class="product-quantity mt-10 mb-10">
                                        <div class="product-quantity-form">
                                            <form action="#">
                                                <button class="cart-minus" (click)="counter2('minus')"><i class="far fa-minus"></i></button>
                                                <p class="cart-input">{{count2}}</p>
                                                <button class="cart-plus" (click)="counter2('add')"><i class="far fa-plus"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                                <td class="product-subtotal"><span class="amount">$42.00</span></td>
                                <td class="product-remove"><a href="#"><i class="fa fa-times"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="coupon-all">
                            <div class="coupon d-flex align-items-center">
                                <input id="coupon_code" class="input-text" name="coupon_code" value=""
                                    placeholder="Coupon code" type="text">
                                <button class="edu-btn" name="apply_coupon" type="submit">Apply
                                    coupon</button>
                            </div>
                            <div class="coupon2">
                                <button onClick="window.location.reload()" class="edu-btn" name="update_cart"
                                    type="submit">Update cart</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 ml-auto">
                        <div class="cart-page-total">
                            <h2>Cart totals</h2>
                            <ul class="mb-20">
                                <li>Subtotal <span>$78.00</span></li>
                                <li>Total <span>$78.00</span></li>
                            </ul>
                            <a class="edu-border-btn" [routerLink]="['/checkout']">Proceed to checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Cart Area End-->

<app-footerone></app-footerone>