<div class="student-feedback pt-45 ">
    <h3>Student Feedback</h3>
    <div class="row">
        <div class="col-xl-3">
            <div class="reating-point mb-30">
                <div class="rating-point-wrapper text-center">
                    <h2>4.7</h2>
                    <div class="rating-star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <span>5785 Rating</span>
                </div>
            </div>
        </div>
        <div class="col-xl-9">
            <div class="student-reating-bar">
                <div class="reating-bar-wrapper">
                    <div class="rating-row mb-10">
                        <div class="rating-star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="progress">
                            <div class="progress-bar wow fadeInLeft" role="progressbar"
                                style="width: 98%;" aria-valuenow="25" aria-valuemin="0"
                                aria-valuemax="100" data-wow-duration="1s"
                                data-wow-delay="0.5s"></div>
                        </div>
                        <div class="progress-tittle">
                            <span>98%</span>
                        </div>
                    </div>
                    <div class="rating-row mb-10">
                        <div class="rating-star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fal fa-star"></i>
                        </div>
                        <div class="progress">
                            <div class="progress-bar wow fadeInLeft" role="progressbar"
                                style="width: 78%;" aria-valuenow="25" aria-valuemin="0"
                                aria-valuemax="100" data-wow-duration="1s"
                                data-wow-delay="0.5s"></div>
                        </div>
                        <div class="progress-tittle">
                            <span>78%</span>
                        </div>
                    </div>
                    <div class="rating-row mb-10">
                        <div class="rating-star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                        </div>
                        <div class="progress">
                            <div class="progress-bar wow fadeInLeft" role="progressbar"
                                style="width: 55%;" aria-valuenow="25" aria-valuemin="0"
                                aria-valuemax="100" data-wow-duration="1s"
                                data-wow-delay="0.5s"></div>
                        </div>
                        <div class="progress-tittle">
                            <span>55%</span>
                        </div>
                    </div>
                    <div class="rating-row mb-10">
                        <div class="rating-star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                        </div>
                        <div class="progress">
                            <div class="progress-bar wow fadeInLeft" role="progressbar"
                                style="width: 60%;" aria-valuenow="25" aria-valuemin="0"
                                aria-valuemax="100" data-wow-duration="1s"
                                data-wow-delay="0.5s"></div>
                        </div>
                        <div class="progress-tittle">
                            <span>60%</span>
                        </div>
                    </div>
                    <div class="rating-row mb-10">
                        <div class="rating-star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                            <i class="fal fa-star"></i>
                        </div>
                        <div class="progress">
                            <div class="progress-bar wow fadeInLeft" role="progressbar"
                                style="width: 10%;" aria-valuenow="25" aria-valuemin="0"
                                aria-valuemax="100" data-wow-duration="1s"
                                data-wow-delay="0.5s"></div>
                        </div>
                        <div class="progress-tittle">
                            <span>10%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>