<div class="course-sidebar-info" [class.content-hidden]="shopLanguageActive">
    <h3 class="drop-btn" (click)="shopLanguage()">Language</h3>
    <ul>
       <li>
          <div class="course-sidebar-list">
             <input class="edu-check-box" type="checkbox" id="e-eng">
             <label class="edu-check-label" for="e-eng">English (21))</label>
          </div>
       </li>
       <li>
          <div class="course-sidebar-list">
             <input class="edu-check-box" type="checkbox" id="e-hin">
             <label class="edu-check-label" for="e-hin">Hindi (12)</label>
          </div>
       </li>
       <li>
          <div class="course-sidebar-list">
             <input class="edu-check-box" type="checkbox" id="e-fren">
             <label class="edu-check-label" for="e-fren">French (7)</label>
          </div>
       </li>
       <li>
          <div class="course-sidebar-list">
             <input class="edu-check-box" type="checkbox" id="e-japa">
             <label class="edu-check-label" for="e-japa">Japanese (10)</label>
          </div>
       </li>
       <li>
          <div class="course-sidebar-list">
             <input class="edu-check-box" type="checkbox" id="e-kore">
             <label class="edu-check-label" for="e-kore">Korean (5)</label>
          </div>
       </li>
       <li>
          <div class="course-sidebar-list">
             <input class="edu-check-box" type="checkbox" id="m-japa">
             <label class="edu-check-label" for="m-japa">Japanese (10))</label>
          </div>
       </li>
       <li>
          <div class="course-sidebar-list">
             <input class="edu-check-box" type="checkbox" id="e-span">
             <label class="edu-check-label" for="e-span">Spanish (14)</label>
          </div>
       </li>
       <li>
          <div class="course-sidebar-list">
             <input class="edu-check-box" type="checkbox" id="e-ita">
             <label class="edu-check-label" for="e-ita">Italian (8)</label>
          </div>
       </li>
    </ul>
 </div>