<!-- zooom-class-start -->
<section class="zoom-area pt-120 pb-60">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-4 col-xl-5 col-lg-5 order-lg-2">
                <div class="zoom-thumb position-relative">
                    <img class="zoom-shape-01" src="assets/img/teacher/zoom-shape-1.png" alt="image not found">
                    <img class="zoom-shape-02" src="assets/img/teacher/zoom-shape-2.png" alt="image not found">
                    <img class="zoom-thumb-main-img" src="assets/img/teacher/Zoom.png" alt="image not found">
                </div>
            </div>
            <div class="col-xxl-4 col-xl-5 col-lg-5 order-lg-1">
                <div class="zoom-class-wrapper mb-60">
                    <div class="section-title mb-30">
                        <h2>Live Class From Anywhere Via <span class="down-mark-line-2"><a href="#">Zoom</a></span></h2>
                    </div>
                    <div class="zoon-class-text">
                        <p>Helping employees gain skills and providing career development often take a back seat
                            to business priorities but workplace.</p>
                    </div>
                    <a class="edu-btn btn-transparent mt-25" [routerLink]="['/zoom-class']">Try free now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- zooom-class-end -->