<div class="sidebar__widget mb-30">
    <div class="sidebar__widget-head mb-35">
       <h4 class="sidebar__widget-title">Recent posts</h4>
    </div>
    <div class="sidebar__widget-content">
       <div class="rc__post-wrapper">
          <div class="rc__post d-flex align-items-center">
             <div class="rc__thumb mr-20">
                <a [routerLink]="['/blog-details']"><img src="assets/img/course/course-10.jpg" alt=""></a>
             </div>
             <div class="rc__content">
                <div class="rc__meta">
                   <span>October 15, 2021</span>
                </div>
                <h6 class="rc__title"><a [routerLink]="['/blog-details']">The Importance Intrinsic
                      Motivation.</a></h6>
             </div>
          </div>
          <div class="rc__post d-flex align-items-center">
             <div class="rc__thumb mr-20">
                <a [routerLink]="['/blog-details']"><img src="assets/img/course/course-11.jpg" alt=""></a>
             </div>
             <div class="rc__content">
                <div class="rc__meta">
                   <span>March 26, 2021</span>
                </div>
                <h6 class="rc__title"><a [routerLink]="['/blog-details']">A Better Alternative To Grading
                      Student.</a></h6>
             </div>
          </div>
          <div class="rc__post d-flex align-items-center">
             <div class="rc__thumb mr-20">
                <a [routerLink]="['/blog-details']"><img src="assets/img/course/course-15.jpg" alt=""></a>
             </div>
             <div class="rc__content">
                <div class="rc__meta">
                   <span>October 15, 2021</span>
                </div>
                <h6 class="rc__title"><a [routerLink]="['/blog-details']">Strategic Social Media &amp;
                      Evolution of Visual</a>
                </h6>
             </div>
          </div>
       </div>
    </div>
 </div>