//shop details
@import '../../../../custom-palettes.scss';

// shop-area-style
.product-img {
	margin-bottom: 25px;
	overflow: hidden;
	position: relative;
	img {
		width: 100%;
		transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
	}
}
.product-items {
	overflow: hidden;
}
.product-items:hover .product-img img {
	transform: scale3d(1.1, 1.1, 1.1);
}
.product-content {
	h4 {
		font-size: 16px;
		margin-bottom: 5px;
	}
}
.product-content {
	span {
		color: $heading-color;
		font-size: 14px;
		font-weight: 700;
		display: inline-block;
		margin-bottom: 5px;
	}
}
.shop-old-price {
	font-size: 14px;
	margin-left: 10px;
}
.products-wrapper {
	display: flex;
	flex-wrap: wrap;
	column-gap: 40px;
	row-gap: 40px;
	margin-left: 40px;
	margin-bottom: 20px;
	@media #{$xl} {
		margin-left: 30px;
		column-gap: 30px;
	}
	@media #{$lg,$md} {
		column-gap: 30px;
	}
	@media #{$lg,$md,$sm,$xs} {
		margin-left: 0;
	}
	@media only screen and (min-width: 400px) and (max-width: 575px) {
		column-gap: 20px;
	}
}
.products-wrapper > div {
	width: calc((100% - 120px) / 4);
	@media #{$xl} {
		width: calc((100% - 90px) / 4);
	}
	@media #{$lg,$md} {
		width: calc((100% - 60px) / 3);
	}
	@media #{$sm} {
		width: calc((100% - 40px) / 2);
	}
	@media #{$xs} {
		width: calc((100% - 0px) / 1);
	}
	@media only screen and (min-width: 400px) and (max-width: 575px) {
		width: calc((100% - 20px) / 2);
	}
}

.shop-quick-view {
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
	position: absolute;
	bottom: 25px;
	left: 0;
	right: 0;
	margin: 0 auto;
	transition: 0.3s;
	ul {
		display: flex;
		gap: 10px;
		justify-content: center;
		li {
			a {
				display: inline-block;
				width: 43px;
				height: 42px;
				line-height: 42px;
				text-align: center;
				background-color: $white;
				border-radius: 50%;
				transition: 0.3s;
				&:hover {
					background: $theme-color;
					color: $white;
					i {
						color: $white;
					}
				}
				i {
					color: #707070;
					font-size: 16px;
					transition: 0.3s;
				}
			}
		}
	}
}
.product-items:hover .shop-quick-view {
	opacity: 1;
	visibility: visible;
}
