<div class="mobile-menus mb-50 d-xl-none fix">
    <div>
       <ul metis-menu>
          <li class="has-arrow"><a href="javascript:void(0)">Home</a>
             <ul class="sub-menu">
                <li><a [routerLink]="['/']">Home 1</a></li>
                <li><a [routerLink]="['/home-2']">Home 2</a></li>
                <li><a [routerLink]="['/home-3']">Home 3</a></li>
             </ul>
          </li>
          <li class="has-arrow"><a href="javascript:void(0)">Course</a>
             <ul class="sub-menu">
                <li><a [routerLink]="['/course']">Course 1</a></li>
                <li><a [routerLink]="['/course-2']">Course 2</a></li>
                <li><a [routerLink]="['/course-3']">Course 3</a></li>
                <li><a [routerLink]="['/course-4']">Course 4</a></li>
                <li><a [routerLink]="['/course-details']">course-details</a></li>
             </ul>
          </li>
          <li class="has-arrow"><a href="javascript:void(0)">shop</a>
             <ul class="sub-menu">
                <li><a [routerLink]="['/shop']">shop</a></li>
                <li><a [routerLink]="['/shop-details']">shop details</a></li>
                <li><a [routerLink]="['/wishlist']">wishlist</a></li>
                <li><a [routerLink]="['/cart']">cart</a></li>
                <li><a [routerLink]="['/checkout']">checkout</a></li>
             </ul>
          </li>
          <li class="has-arrow"><a href="javascript:void(0)">Pages</a>
             <ul class="sub-menu">
                <li><a [routerLink]="['/about']">About</a></li>
                <li class="has-arrow"><a href="javascript:void(0)">instructor</a>
                   <ul class="sub-menu">
                      <li><a [routerLink]="['/instructor']">instructor</a></li>
                      <li><a [routerLink]="['/instructor-profile']">instructor profile</a></li>
                      <li><a [routerLink]="['/become-instructor']">become instructor</a></li>
                   </ul>
                </li>
                <li class="has-arrow"><a href="javascript:void(0)">zoom class</a>
                   <ul class="sub-menu">
                      <li><a [routerLink]="['/zoom-class']">zoom class</a></li>
                      <li><a [routerLink]="['/zoom-class-detalis']">zoom class details</a></li>
                   </ul>
                </li>
                <li class="has-arrow"><a href="javascript:void(0)">blog</a>
                   <ul class="sub-menu">
                      <li><a [routerLink]="['/blog']">blog</a></li>
                      <li><a [routerLink]="['/blog-details']">blog details</a></li>
                   </ul>
                </li>
                <li class="has-arrow"><a href="javascript:void(0)">event</a>
                   <ul class="sub-menu">
                      <li><a [routerLink]="['/event']">event</a></li>
                      <li><a [routerLink]="['/event-details']">event details</a></li>
                   </ul>
                </li>
                <li><a [routerLink]="['/membership']">membership plan</a></li>
                <li class="has-arrow"><a href="javascript:void(0)">FAQ page</a>
                   <ul class="sub-menu">
                      <li><a [routerLink]="['/faq-page']">FAQ page</a></li>
                      <li><a [routerLink]="['/faq-details']">FAQ details</a></li>
                   </ul>
                </li>
                <li><a [routerLink]="['/404-page']">404 pages</a></li>
                <li><a [routerLink]="['/contact']">contact</a></li>
             </ul>
          </li>
       </ul>
    </div>
  </div>