<!-- affiliates-area-start -->
<div class="affiliates-area pt-120 pb-120">
    <div class="container">
       <div class="row">
          <div class="col-xl-12">
             <div class="affiliates-wrapper">
                <div class="singel-affiliates-img">
                   <img src="assets/img/brand/partner-01.png" alt="affiliates-img">
                </div>
                <div class="singel-affiliates-img">
                   <img src="assets/img/brand/partner-02.png" alt="affiliates-img">
                </div>
                <div class="singel-affiliates-img">
                   <img src="assets/img/brand/partner-03.png" alt="affiliates-img">
                </div>
                <div class="singel-affiliates-img">
                   <img src="assets/img/brand/partner-04.png" alt="affiliates-img">
                </div>
                <div class="singel-affiliates-img">
                   <img src="assets/img/brand/partner-05.png" alt="affiliates-img">
                </div>
                <div class="singel-affiliates-img">
                   <img src="assets/img/brand/partner-06.png" alt="affiliates-img">
                </div>
                <div class="singel-affiliates-img">
                   <img src="assets/img/brand/partner-07.png" alt="affiliates-img">
                </div>
                <div class="singel-affiliates-img">
                   <img src="assets/img/brand/partner-08.png" alt="affiliates-img">
                </div>
                <div class="singel-affiliates-img">
                   <img src="assets/img/brand/partner-09.png" alt="affiliates-img">
                </div>
                <div class="singel-affiliates-img">
                   <img src="assets/img/brand/partner-10.png" alt="affiliates-img">
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- affiliates-area-end -->