<div class="course-video-widget">
    <div class="course-widget-wrapper mb-30">
        <div class="course-video-thumb w-img">
            <img src="assets/img/course/course-video.png" alt="image not found">
            <div class="sidber-video-btn">
                <a class="popup-video" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fas fa-play"></i></a>
            </div>
        </div>
        <div class="course-video-price">
            <span>$147.00</span>
        </div>
        <div class="course-video-body">
            <ul>
                <li>
                    <div class="course-vide-icon">
                        <i class="flaticon-filter"></i>
                        <span>Level</span>
                    </div>
                    <div class="video-corse-info">
                        <span>Beginners</span>
                    </div>
                </li>
                <li>
                    <div class="course-vide-icon">
                        <i class="flaticon-computer"></i>
                        <span>Lectures</span>
                    </div>
                    <div class="video-corse-info">
                        <span>8 Lectures</span>
                    </div>
                </li>
                <li>
                    <div class="course-vide-icon">
                        <i class="flaticon-clock"></i>
                        <span>Duration</span>
                    </div>
                    <div class="video-corse-info">
                        <span>1h 30m 12s</span>
                    </div>
                </li>
                <li>
                    <div class="course-vide-icon">
                        <i class="flaticon-menu-2"></i>
                        <span>Category</span>
                    </div>
                    <div class="video-corse-info">
                        <span>Data Science</span>
                    </div>
                </li>
                <li>
                    <div class="course-vide-icon">
                        <i class="flaticon-global"></i>
                        <span>Laguage</span>
                    </div>
                    <div class="video-corse-info">
                        <span>English</span>
                    </div>
                </li>
                <li>
                    <div class="course-vide-icon">
                        <i class="flaticon-bookmark-white"></i>
                        <span>Access</span>
                    </div>
                    <div class="video-corse-info">
                        <span>Full Lifetime</span>
                    </div>
                </li>
                <li>
                    <div class="course-vide-icon">
                        <i class="flaticon-award"></i>
                        <span>Certificate</span>
                    </div>
                    <div class="video-corse-info">
                        <span>Yes </span>
                    </div>
                </li>
                <li>
                    <div class="course-vide-icon">
                        <i class="flaticon-list"></i>
                        <span>Recourse</span>
                    </div>
                    <div class="video-corse-info">
                        <span>5 Downloadable Files </span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="video-wishlist">
            <a [routerLink]="['/cart']" class="video-cart-btn"><i class="fal fa-shopping-cart"></i>Add
                to
                cart</a>
            <a [routerLink]="['/wishlist']" class="video-wishlist-btn"><i class="far fa-heart"></i>Add
                to
                Wishlist</a>
        </div>
        <div class="course-gift">
            <div class="course-apply-coupon">
                <a href="#">Apply Coupon</a>
            </div>
            <div class="course-gift-coupon">
                <a href="#">Gift Courses</a>
            </div>
        </div>
    </div>
</div>


  <div class="course-video-popup">
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe src="https://www.youtube.com/embed/wNwrSz3HYqE" title="YouTube video player"></iframe>
            </div>
          </div>
        </div>
      </div>
  </div>
  