<app-headerfour></app-headerfour>
<app-breadcrumb breadcrumbTitle="Upcoming Event"  breadcrumbSubTitle="Upcoming Event"></app-breadcrumb>

<!-- event-area start -->
<div class="event-ara pt-120 pb-90">
    <div class="container">
       <div class="row">
          <div class="col-xl-8 col-lg-7">
             <div class="single-item mb-30">
                <div class="event_date f-left">
                   <div class="event_date_inner">
                      <h4>10</h4>
                      <span>Jan 2022</span>
                   </div>
                </div>
                <div class="event_info">
                   <h3><a [routerLink]="['/event-details']">Education Autumn Tour Conference</a></h3>
                   <div class="event-detalis d-flex align-items-center">
                      <div class="event-time mr-30 d-flex align-items-center">
                         <i class="flaticon-clock-1"></i>
                         <span>10:30 AM</span>
                      </div>
                      <div class="event-location d-flex align-items-centere">
                         <i class="flaticon-pin"></i>
                         <span>Zeoyan Stadium, London</span>
                      </div>
                   </div>
                   <div class="event-aduence d-flex align-items-center">
                      <div class="aduence-thumb">
                         <img src="assets/img/event/event-01.png" alt="event-thumb">
                         <img src="assets/img/event/event-02.png" alt="event-thumb">
                         <img src="assets/img/event/event-03.png" alt="event-thumb">
                         <img src="assets/img/event/event-04.png" alt="event-thumb">
                         <img src="assets/img/event/event-05.png" alt="event-thumb">
                      </div>
                      <div class="adence-info">
                         <span>+55 Audience have joined</span>
                      </div>
                   </div>
                </div>
                <div class="get-ticket-btn">
                   <a class="get-btn" href="#">Get ticket</a>
                </div>
             </div>
             <div class="single-item mb-30">
                <div class="event_date f-left">
                   <div class="event_date_inner">
                      <h4>18</h4>
                      <span>Jan 2022</span>
                   </div>
                </div>
                <div class="event_info">
                   <h3><a [routerLink]="['/event-details']">General ideas of Land Management System</a></h3>
                   <div class="event-detalis d-flex align-items-center">
                      <div class="event-time mr-30 d-flex align-items-center">
                         <i class="flaticon-clock-1"></i>
                         <span>10:30 AM</span>
                      </div>
                      <div class="event-location d-flex align-items-centere">
                         <i class="flaticon-pin"></i>
                         <span>Zeoyan Stadium, London</span>
                      </div>
                   </div>
                   <div class="event-aduence d-flex align-items-center">
                      <div class="aduence-thumb">
                         <img src="assets/img/event/event-01.png" alt="event-thumb">
                         <img src="assets/img/event/event-02.png" alt="event-thumb">
                         <img src="assets/img/event/event-03.png" alt="event-thumb">
                         <img src="assets/img/event/event-04.png" alt="event-thumb">
                         <img src="assets/img/event/event-05.png" alt="event-thumb">
                      </div>
                      <div class="adence-info">
                         <span>+55 Audience have joined</span>
                      </div>
                   </div>
                </div>
                <div class="get-trct-btn">
                   <a class="get-ticket-btn get-btn" href="#">Get ticket</a>
                </div>
             </div>
             <div class="single-item mb-30">
                <div class="event_date f-left">
                   <div class="event_date_inner">
                      <h4>22</h4>
                      <span>Jan 2022</span>
                   </div>
                </div>
                <div class="event_info">
                   <h3><a [routerLink]="['/event-details']">Discussion on Data Science PowerPoint</a></h3>
                   <div class="event-detalis d-flex align-items-center">
                      <div class="event-time mr-30 d-flex align-items-center">
                         <i class="flaticon-clock-1"></i>
                         <span>10:30 AM</span>
                      </div>
                      <div class="event-location d-flex align-items-centere">
                         <i class="flaticon-pin"></i>
                         <span>Zeoyan Stadium, London</span>
                      </div>
                   </div>
                   <div class="event-aduence d-flex align-items-center">
                      <div class="aduence-thumb">
                         <img src="assets/img/event/event-01.png" alt="event-thumb">
                         <img src="assets/img/event/event-02.png" alt="event-thumb">
                         <img src="assets/img/event/event-03.png" alt="event-thumb">
                         <img src="assets/img/event/event-04.png" alt="event-thumb">
                         <img src="assets/img/event/event-05.png" alt="event-thumb">
                      </div>
                      <div class="adence-info">
                         <span>+55 Audience have joined</span>
                      </div>
                   </div>
                </div>
                <div class="get-trct-btn">
                   <a class="get-ticket-btn get-btn" href="#">Get ticket</a>
                </div>
             </div>
             <div class="single-item mb-30">
                <div class="event_date f-left">
                   <div class="event_date_inner">
                      <h4>16</h4>
                      <span>Jan 2022</span>
                   </div>
                </div>
                <div class="event_info">
                   <h3><a [routerLink]="['/event-details']">Foundations of Global Health</a></h3>
                   <div class="event-detalis d-flex align-items-center">
                      <div class="event-time mr-30 d-flex align-items-center">
                         <i class="flaticon-clock-1"></i>
                         <span>10:30 AM</span>
                      </div>
                      <div class="event-location d-flex align-items-centere">
                         <i class="flaticon-pin"></i>
                         <span>Zeoyan Stadium, London</span>
                      </div>
                   </div>
                   <div class="event-aduence d-flex align-items-center">
                      <div class="aduence-thumb">
                         <img src="assets/img/event/event-01.png" alt="event-thumb">
                         <img src="assets/img/event/event-02.png" alt="event-thumb">
                         <img src="assets/img/event/event-03.png" alt="event-thumb">
                         <img src="assets/img/event/event-04.png" alt="event-thumb">
                         <img src="assets/img/event/event-05.png" alt="event-thumb">
                      </div>
                      <div class="adence-info">
                         <span>+55 Audience have joined</span>
                      </div>
                   </div>
                </div>
                <div class="get-trct-btn">
                   <a class="get-ticket-btn get-btn" href="#">Get ticket</a>
                </div>
             </div>
          </div>
          <div class="col-xl-4 col-lg-5 col-md-8">
             <div class="sidebar-widget-wrapper">
                <div class="sidebar-widget mb-30">
                   <div class="event-wrapper">
                      <div class="event-select">
                         <select>
                            <option value="volvo">All Events</option>
                            <option value="saab">This Month</option>
                            <option value="opel">Next Month</option>
                            <option value="audi">This Year</option>
                         </select>
                      </div>
                   </div>
                </div>
                <div class="side-bar-widget mb-30">
                   <div class="event-sidebar">
                      <div class="find-event">
                         <div class="find-event-info">
                            <h4>Find Events</h4>
                         </div>
                         <div class="find-event-wrapper mb-25">
                            <div class="find-event-inputs">
                                <div class="inventual-calender-field-style">
                                    <mat-form-field appearance="fill" floatLabel="always">
                                        <mat-label class="d-none">Choose a date</mat-label>
                                        <input matInput [matDatepicker]="picker" [placeholder]="'MM/DD/YYYY'">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                         </div>
                         <div class="find-event-wrapper mb-25">
                            <div class="find-event-input">
                               <input type="text" placeholder="Location">
                               <i class="flaticon-pin-1"></i>
                            </div>
                         </div>
                         <div class="find-event-wrapper mb-25">
                            <div class="find-event-input">
                               <input type="text" placeholder="Search keyword....">
                               <i class="flaticon-search"></i>
                            </div>
                         </div>
                      </div>
                      <div class="zoom-btn">
                         <a href="#" class="event-btn">Find Event</a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- event-area-end -->
<app-footerone></app-footerone>
