<app-headerfour></app-headerfour>

<app-breadcrumb breadcrumbTitle="Contact"  breadcrumbSubTitle="Contact"></app-breadcrumb>

<!-- contact-area-start -->
<div class="contact-area pt-120 pb-90">
    <div class="container">
       <div class="row">
          <div class="col-xl-8 col-lg-7 col-md-12">
             <div class="contact-area-wrapper">
                <div class="section-title mb-50">
                   <h2>Get in Touch</h2>
                </div>
                <app-contactform></app-contactform>
             </div>
            <app-contactmap></app-contactmap>
          </div>
          <div class="col-xl-4 col-lg-5 col-md-8">
             <app-contactsidebar></app-contactsidebar>
          </div>
       </div>
    </div>
 </div>
 <!-- contact-area-start -->

<app-footerone></app-footerone>