<!-- student-choose-area start -->
<div class="student-choose-area fix pt-120 pb-110">
    <div class="container">
       <div class="row">
          <div class="col-xl-5 col-lg-5">
             <div class="student-wrapper">
                <div class="section-title mb-30">
                   <h2>Why Students <span class="down-mark-line">Choose</span> Us for Gain Their Knowledge</h2>
                </div>
                <div class="sitdent-choose-content">
                   <p>Helping employees gain skills and providing career development often take a back seat to
                      business priorities but workplace better right now. Seventy percent of workers think that.
                   </p>
                </div>
                <div class="student-choose-list">
                   <ul>
                      <li><i class="fas fa-check-circle"></i>Free for physically handcraft </li>
                      <li><i class="fas fa-check-circle"></i>Easy to enroll courses</li>
                      <li><i class="fas fa-check-circle"></i>Course certificate for particular course</li>
                   </ul>
                </div>
                <div class="student-btn">
                   <a class="edu-sec-btn" [routerLink]="['/about']">More about us</a>
                </div>
             </div>
          </div>
          <div class="col-xl-2 col-lg-2">
             <div class="student-wrapper position-relative">
                <div class="shap-01">
                </div>
             </div>
          </div>
          <div class="col-xl-5 col-lg-5">
             <div class="student-choose-wrapper position-relative">
                <div class="shap-02"></div>
                <div class="shap-03">
                   <img src="assets/img/shape/student-shape-03.png" alt="image not found">
                </div>
                <div class="shap-04">
                   <img src="assets/img/shape/student-shape-04.png" alt="image not found">
                </div>
                <div class="shap-05">
                   <img src="assets/img/shape/student-shape-05.png" alt="image not found">
                </div>
                <div class="shap-06">
                   <img src="assets/img/shape/student-shape-06.png" alt="image not found">
                </div>
                <div class="shap-07">
                   <img src="assets/img/shape/student-shape-07.png" alt="image not found">
                </div>
                <div class="student-choose-thumb">
                   <img src="assets/img/student-choose/student.png" alt="image not found">
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- student-choose-area end -->