<!-- step-journey-area-start -->
<div class="step-journey-area pt-110 pb-90">
    <div class="container">
       <div class="row">
          <div class="col-xxl-12">
             <div class="section-title text-center mb-45">
                <h2>How to <span class="down-mark-line-2">Start</span> Your Journey</h2>
             </div>
          </div>
          <div class="col-xxl-12">
             <ul class="nav nav-tabs step-journey justify-content-center" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                   <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                      type="button" role="tab" aria-controls="home" aria-selected="true">Quick Register</button>
                </li>
                <li class="nav-item" role="presentation">
                   <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                      type="button" role="tab" aria-controls="profile" aria-selected="false">Set
                      Curriculam</button>
                </li>
                <li class="nav-item" role="presentation">
                   <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
                      type="button" role="tab" aria-controls="contact" aria-selected="false">Launch Course</button>
                </li>
             </ul>
             <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                   <div class="step-tab-content pt-60 mb-30">
                      <div class="row">
                         <div class="col-xl-6 col-lg-6">
                            <div class="step-journey-box mb-30">
                               <div class="srep-journey-content mt-30">
                                  <h4>01. Record your video</h4>
                                  <p>Helping employees gain skills and providing development often take a back seat
                                     to business priorities workplace. We offer fresh courses on emerging topics.
                                  </p>
                               </div>
                               <div class="step-journey-content">
                                  <h4>02. Record your video</h4>
                                  <p>Learn Programming Languages to have a strong emphasis on functional
                                     programming. You can study any of the courses present below and get the
                                     complete.</p>
                               </div>
                            </div>
                         </div>
                         <div class="col-xl-6 col-lg-6">
                            <div class="step-journey-thumb d-flex-align-items-center">
                               <img src="assets/img/bg/step-journey-1.png" alt="step-journey">
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                   <div class="step-tab-content pt-60 mb-30">
                      <div class="row">
                         <div class="col-xl-6 col-lg-6">
                            <div class="step-journey-box mb-30">
                               <div class="srep-journey-content mt-30">
                                  <h4>01. Do a short list</h4>
                                  <p>Helping employees gain skills and providing development often take a back seat
                                     to business priorities workplace. We offer fresh courses on emerging topics.
                                  </p>
                               </div>
                               <div class="step-journey-content">
                                  <h4>02. How we help you</h4>
                                  <p>Learn Programming Languages to have a strong emphasis on functional
                                     programming. You can study any of the courses present below and get the
                                     complete.</p>
                               </div>
                            </div>
                         </div>
                         <div class="col-xl-6 col-lg-6">
                            <div class="step-journey-thumb d-flex-align-items-center">
                               <img src="assets/img/bg/step-journey-2.png" alt="step-journey">
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                   <div class="step-tab-content pt-60 mb-30">
                      <div class="row">
                         <div class="col-xl-6 col-lg-6">
                            <div class="step-journey-box mb-30">
                               <div class="srep-journey-content mt-30">
                                  <h4>01. Select category</h4>
                                  <p>Helping employees gain skills and providing development often take a back seat
                                     to business priorities workplace. We offer fresh courses on emerging topics.
                                  </p>
                               </div>
                               <div class="step-journey-content">
                                  <h4>02. How we help you</h4>
                                  <p>Learn Programming Languages to have a strong emphasis on functional
                                     programming. You can study any of the courses present below and get the
                                     complete.</p>
                               </div>
                            </div>
                         </div>
                         <div class="col-xl-6 col-lg-6">
                            <div class="step-journey-thumb d-flex-align-items-center">
                               <img src="assets/img/bg/step-journey-3.png" alt="step-journey">
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- step-journey-area-end -->