<!-- academic-courses-area-start -->
<div class="academic-courses-area p-relative pt-110 pb-120">
    <img class="academic-shape-2" src="assets/img/shape/acadenic-shape-2.png" alt="shape">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-4">
                <div class="section-title mb-50">
                    <h2>Academic <span class="down-mark-line-2">Courses</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="academic-box position-relative mb-30">
                    <img class="academic-shape" src="assets/img/shape/acadenic-shape-1.png"
                        alt="image not found">
                    <div class="academic-thumb">
                        <img src="assets/img/course/academi-course-2.jpg" alt="image not found">
                    </div>
                    <div class="academic-content">
                        <div class="academic-content-header">
                            <a [routerLink]="['/course-details']">
                                <h3>Bachelor of Business
                                    Administration ( Accounting)</h3>
                            </a>
                        </div>
                        <div class="academic-body">
                            <div class="academic-tutor d-flex align-items-center">
                                <img src="assets/img/course/academic-tutor-1.png" alt="image not found">
                                <a [routerLink]="['/instructor-profile']">Professor David</a>
                            </div>
                            <p>Helping employees gain skills and development often take a back seat to business
                            </p>
                        </div>
                        <div class="academic-footer">
                            <div class="coursee-clock">
                                <i class="flaticon-wall-clock"></i><span>4 Years</span>
                            </div>
                            <div class="course-creadit">
                                <i class="flaticon-menu-1"></i><span>8 Credit</span>
                            </div>
                            <a class="edo-course-sec-btn" [routerLink]="['/course-details']">Apply now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="academic-box mb-30">
                    <div class="academic-thumb">
                        <img src="assets/img/course/academi-course-3.jpg" alt="image not found">
                    </div>
                    <div class="academic-content">
                        <div class="academic-content-header">
                            <a [routerLink]="['/course-details']">
                                <h3>Entrepreneurship Essentials Business Course</h3>
                            </a>
                        </div>
                        <div class="academic-body">
                            <div class="academic-tutor d-flex align-items-center">
                                <img src="assets/img/course/academic-tutor-2.png" alt="image not found">
                                <a [routerLink]="['/instructor-profile']">Professor Joseph</a>
                            </div>
                            <p>Helping employees gain skills and development often take a back seat to business
                            </p>
                        </div>
                        <div class="academic-footer">
                            <div class="coursee-clock">
                                <i class="flaticon-wall-clock"></i><span>4 Years</span>
                            </div>
                            <div class="course-creadit">
                                <i class="flaticon-menu-1"></i><span>8 Credit</span>
                            </div>
                            <a class="edo-course-sec-btn" [routerLink]="['/course-details']">Apply now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="academic-box mb-30">
                    <div class="academic-thumb">
                        <img src="assets/img/course/academi-course-4.jpg" alt="image not found">
                    </div>
                    <div class="academic-content">
                        <div class="academic-content-header">
                            <a [routerLink]="['/course-details']">
                                <h3>Financial Analysis Valuation for Lawyers Eduman</h3>
                            </a>
                        </div>
                        <div class="academic-body">
                            <div class="academic-tutor d-flex align-items-center">
                                <img src="assets/img/course/academic-tutor-3.png" alt="image not found">
                                <a [routerLink]="['/instructor-profile']">Professor Michel</a>
                            </div>
                            <p>Helping employees gain skills and development often take a back seat to business
                            </p>
                        </div>
                        <div class="academic-footer">
                            <div class="coursee-clock">
                                <i class="flaticon-wall-clock"></i><span>4 Years</span>
                            </div>
                            <div class="course-creadit">
                                <i class="flaticon-menu-1"></i><span>8 Credit</span>
                            </div>
                            <a class="edo-course-sec-btn" [routerLink]="['/course-details']">Apply now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 text-center">
                <div class="academic-bottom-btn ">
                    <a class="edo-theme-btn mt-30" [routerLink]="['/course']">View all course</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- academic-courses-area-end -->