<!-- teacher-area-start -->
<section class="teacher-area position-relative pt-120 fix">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xxl-4 col-xl-5 col-lg-5">
                <div class="teacher-img position-relative">
                    <img class="teacher-main-img" src="assets/img/teacher/teacher.png" alt="image not found">
                    <img class="teacher-shape" src="assets/img/teacher/teacher-shape-01.png"
                        alt="image not found">
                    <img class="teacher-shape-02" src="assets/img/teacher/teacher-shape-02.png"
                        alt="image not found">
                    <img class="teacher-shape-03" src="assets/img/teacher/teacher-shape-03.png"
                        alt="image not found">
                    <img class="teacher-shape-04" src="assets/img/teacher/teacher-shape-04.png"
                        alt="image not found">
                </div>
            </div>
            <div class="col-xxl-4 col-xl-5 col-lg-5">
                <div class="teacher-content mr-20">
                    <div class="section-title mb-30">
                        <h2>Become an Instructor
                            And <span class="down-mark-line-2">Teach</span> Online</h2>
                    </div>
                    <p>Helping employees gain skills and providing career development often take a back seat to
                        business priorities but workplace.</p>
                    <a class="edu-btn btn-transparent mt-25" [routerLink]="['/instructor']">Join us now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- teacher-area-end -->